<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                xmlns:rich="http://richfaces.org/rich"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{transferEditSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:event listener="#{transferEditSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.location.transfer.edit.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:decorateEdit compId="countrySelect" label="#{messages['admin.location.transfer.country']}">
                        <h:selectOneMenu id="countrySelectInput" value="#{transferEditSupport.instance.country}"
                                         converter="entityConverter"
                                         styleClass="form-control input-sm">
                            <f:selectItem itemLabel="#{messages['global.label.selectPlease']}"/>
                            <f:selectItems var="country" value="#{transferEditSupport.countryList}"
                                           itemLabel="#{country.name}" itemValue="#{country}"/>
                            <a:ajax event="change" execute="@this"
                                    listener="#{transferEditSupport.countryAjaxChangeListener}"
                                    render="citySelect airportSelect regionSelect" oncomplete="initialize()"/>
                        </h:selectOneMenu>
                        <h:message for="countrySelectInput" style="color: red"/>
                    </orca:decorateEdit>

                    <orca:decorateEdit compId="citySelect" label="#{messages['admin.location.transfer.city']}">
                        <h:selectOneMenu id="citySelectInput" value="#{transferEditSupport.instance.city}"
                                         converter="entityConverter"
                                         styleClass="form-control input-sm">
                            <f:selectItem itemLabel="#{messages['global.label.selectPlease']}"/>
                            <f:selectItems var="city" value="#{transferEditSupport.cityList}"
                                           itemLabel="#{city.name}" itemValue="#{city}"/>
                            <a:ajax event="change" execute="@this"
                                    listener="#{transferEditSupport.cityAjaxChangeListener}" oncomplete="initialize()"
                                    render="airportSelect, regionSelect"/>
                        </h:selectOneMenu>
                        <h:message for="citySelectInput" style="color: red"/>
                    </orca:decorateEdit>

                    <orca:decorateEdit compId="airportSelect" label="#{messages['admin.location.transfer.airport']}">
                        <h:selectOneMenu id="airportSelectInput" value="#{transferEditSupport.instance.airport}"
                                         converter="entityConverter"
                                         styleClass="form-control input-sm">
                            <f:selectItem itemLabel="#{messages['global.label.selectPlease']}"/>
                            <f:selectItems var="airport" value="#{transferEditSupport.airportList}"
                                           itemLabel="#{airport.name}" itemValue="#{airport}"/>
                            <a:ajax event="change" execute="@this" oncomplete="initialize()"/>
                        </h:selectOneMenu>
                        <h:message for="airportSelectInput" style="color: red"/>
                    </orca:decorateEdit>

                    <orca:decorateEdit compId="regionSelect" label="#{messages['admin.location.transfer.region']}">
                        <h:selectOneMenu id="regionSelectInput" value="#{transferEditSupport.instance.region}"
                                         converter="entityConverter"
                                         styleClass="form-control input-sm">
                            <f:selectItem itemLabel="#{messages['global.label.selectPlease']}"/>
                            <f:selectItems var="region" value="#{transferEditSupport.regionList}"
                                           itemLabel="#{region.name}" itemValue="#{airport}"/>
                            <a:ajax event="change" execute="@this" oncomplete="initialize()"/>

                        </h:selectOneMenu>
                        <h:message for="regionSelectInput" style="color: red"/>
                    </orca:decorateEdit>
                </div>
                <div class="col-md-6">
                    <orca:input compId="transferName" label="#{messages['admin.location.transfer.code']}"
                                value="#{transferEditSupport.instance.code.value}"/>

                    <orca:input compId="dinstanceInput" label="#{messages['admin.location.transfer.distance_m']}"
                                value="#{transferEditSupport.distance}" disable="#{true}"/>

                    <orca:input compId="timeInput" label="#{messages['admin.location.transfer.time_s']}"
                                value="#{transferEditSupport.time}" disable="#{true}"/>

                    <orca:inputArea compId="descriptionInput"
                                    value="#{transferEditSupport.instance.description}"
                                    label="#{messages['admin.location.transfer.description']}"/>
                </div>
            </div>

            <div class="row">
                <rich:tabPanel activeItem="#{transferEditSupport.selectedTab}">
                    <rich:tab>
                        <f:facet name="header">#{messages['admin.location.transfer.map']}</f:facet>

                        <ui:include src="inc/tab-edit/map-tab.xhtml"/>
                    </rich:tab>
                    <rich:tab>
                        <f:facet name="header">#{messages['admin.location.transfer.tab.priceList']}</f:facet>

                        <ui:include src="inc/tab-edit/price-tab.xhtml"/>
                    </rich:tab>
                </rich:tabPanel>

            </div>

            <div class="form-actions">
                <a:commandLink styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{transferEditSupport.navToBack()}">
                    <span class="glyphicon glyphicon-arrow-left"/>
                    <h:outputText value=" #{messages['global.button.cancel']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.save']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{transferEditSupport.persist()}"
                               oncomplete="initialize()"
                               rendered="#{!transferEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.save']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.update']}" execute="@form" render="@form"
                               oncomplete="initialize()"
                               styleClass="btn btn-primary btn-sm" action="#{transferEditSupport.update()}"
                               rendered="#{transferEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.update']}"/>
                </a:commandLink>
            </div>

        </h:form>

        <ui:include src="inc/modal/car-type-select-modal.xhtml"/>

    </ui:define>


</ui:composition>