<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{transferListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.location.transfer.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.location.transfer.code']}"
                                  value="#{transferListSupport.params.code}"/>
                <orca:searchAction search="#{transferListSupport.search()}" reset="#{transferListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{transferListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="transferListPanel" layout="block">
                <rich:dataTable var="transfer" value="#{transferListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="transferListPanel"
                                                  columnName="#{messages['admin.location.transfer.code']}"
                                                  objectList="#{transferListSupport}"
                                                  column="transfer.code.value"/>
                        </f:facet>
                        #{transfer.code}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="transferListPanel"
                                                  columnName="#{messages['admin.location.transfer.airport']}"
                                                  objectList="#{transferListSupport}"
                                                  column="transfer.airport.name"/>
                        </f:facet>
                        #{transfer.airport.name}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="transferListPanel"
                                                  columnName="#{messages['admin.location.transfer.region']}"
                                                  objectList="#{transferListSupport}"
                                                  column="transfer.region.name"/>
                        </f:facet>
                        #{transfer.region.name}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="transferListPanel"
                                                  columnName="#{messages['admin.location.transfer.country']}"
                                                  objectList="#{transferListSupport}"
                                                  column="transfer.country.name"/>
                        </f:facet>
                        #{transfer.country.name}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="transferListPanel"
                                                  columnName="#{messages['admin.location.point.type']}"
                                                  objectList="#{transferListSupport}"
                                                  column="transfer.city.name"/>
                        </f:facet>
                        #{transfer.city.name}
                    </rich:column>
                    <rich:column style="text-align: right">
                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{transferListSupport.navToView(transfer)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{transferListSupport}" renderId="transferListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{transferListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
