<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{transferViewSupport.instanceId}">
            <f:converter converterId="javax.faces.Long"/>
        </f:viewParam>
        <f:event type="preRenderView" listener="#{transferViewSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">#{messages['admin.location.transfer.view.title']}</ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">

                    <orca:output label="#{messages['admin.location.transfer.country']}"
                                 value="#{transferViewSupport.instance.country.name}"/>
                    <orca:output label="#{messages['admin.location.transfer.city']}"
                                 value="#{transferViewSupport.instance.city.name}"/>
                    <orca:output label="#{messages['admin.location.transfer.airport']}"
                                 value="#{transferViewSupport.instance.airport.name}"/>
                    <orca:output label="#{messages['admin.location.transfer.region']}"
                                 value="#{transferViewSupport.instance.region.name}"/>

                </div>
                <div class="col-md-6">
                    <orca:output label="#{messages['admin.location.transfer.id']}"
                                 value="#{transferViewSupport.instance.id}"/>
                    <orca:output label="#{messages['admin.location.transfer.code']}"
                                 value="#{transferViewSupport.instance.code}"/>
                    <orca:output compId="dinstanceInput" label="#{messages['admin.location.transfer.distance_km']}"
                                 value="#{transferViewSupport.distanceKM}"/>
                    <orca:output compId="timeInput" label="#{messages['admin.location.transfer.time_m']}"
                                 value="#{transferViewSupport.timeMunite}"/>
                    <orca:output label="#{messages['admin.location.transfer.description']}"
                                 value="#{transferViewSupport.instance.description}"/>
                </div>
            </div>

            <div class="row">
                <rich:tabPanel activeItem="#{transferViewSupport.selectedTab}">
                    <rich:tab>
                        <f:facet name="header">#{messages['admin.location.transfer.map']}</f:facet>

                        <ui:include src="inc/tab-view/map-tab.xhtml"/>
                    </rich:tab>
                    <rich:tab>
                        <f:facet name="header">#{messages['admin.location.transfer.tab.priceList']}</f:facet>

                        <ui:include src="inc/tab-view/price-tab.xhtml"/>
                    </rich:tab>
                </rich:tabPanel>
            </div>

            <div class="form-actions">
                <a:commandLink title="#{messages['global.button.back']}"
                               styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{transferViewSupport.navToBack()}">
                    <span class="glyphicon glyphicon-backward"/>
                    <h:outputText value=" #{messages['global.button.back']}"/>
                </a:commandLink>

                <a:commandLink title="#{messages['global.button.edit']}"
                               styleClass="btn btn-primary btn-sm"
                               action="#{transferViewSupport.navToEdit()}">
                    <span class="glyphicon glyphicon-pencil"/>
                    <h:outputText value=" #{messages['global.button.edit']}"/>
                </a:commandLink>
            </div>

        </h:form>
    </ui:define>

</ui:composition>