<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/agency/agency-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{agencyReservationListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['agency.transfer.reservation.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['agency.transfer.reservation.code']}"
                                  value="#{agencyReservationListSupport.params.code}"/>
                <orca:searchEntitySelect items="#{agencyReservationListSupport.routeTypeList}" itemVar="routeType"
                                         value="#{agencyReservationListSupport.params.routeType}"
                                         compId="routeTypeSelect"
                                         itemValue="#{routeType}"
                                         itemLabel="#{messages[routeType.message]}"
                                         label="#{messages['agency.transfer.reservation.routeType']}"/>
                <orca:searchEntitySelect items="#{agencyReservationListSupport.pointList}" itemVar="to"
                                         value="#{agencyReservationListSupport.params.to}"
                                         compId="toSelect"
                                         itemValue="#{to}"
                                         itemLabel="#{to}"
                                         label="#{messages['agency.transfer.reservation.to']}"/>
                <orca:searchEntitySelect items="#{agencyReservationListSupport.pointList}" itemVar="from"
                                         value="#{agencyReservationListSupport.params.from}"
                                         compId="fromSelect"
                                         itemValue="#{from}"
                                         itemLabel="#{from}"
                                         label="#{messages['agency.transfer.reservation.from']}"/>
                <orca:searchDateInput compId="dateInput"
                                      label="#{messages['agency.transfer.reservation.date']}"
                                      value="#{agencyReservationListSupport.params.date}"/>
                <orca:searchInput label="#{messages['agency.transfer.reservation.flightNo']}"
                                  value="#{agencyReservationListSupport.params.flightNo}"/>
                <orca:searchInput label="#{messages['agency.transfer.reservation.pax']}"
                                  value="#{agencyReservationListSupport.params.pax}"/>
                <orca:searchEntitySelect items="#{agencyReservationListSupport.reservationStatusList}"
                                         itemVar="reservationStatus"
                                         value="#{agencyReservationListSupport.params.reservationStatus}"
                                         compId="reservationStatusSelect"
                                         itemValue="#{reservationStatus}"
                                         itemLabel="#{messages[reservationStatus]}"
                                         label="#{messages['agency.transfer.reservation.reservationStatus']}"/>
                <orca:searchAction search="#{agencyReservationListSupport.search()}"
                                   reset="#{agencyReservationListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{agencyReservationListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="agencyReservationListPanel" layout="block" styleClass="table-responsive">
                <rich:dataTable var="agencyReservation" value="#{agencyReservationListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="agencyReservationListPanel"
                                                  columnName="#{messages['agency.transfer.reservation.code']}"
                                                  objectList="#{agencyReservationListSupport}"
                                                  column="agencyReservation.code.value"/>
                        </f:facet>
                        #{agencyReservation.code}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="agencyReservationListPanel"
                                                  columnName="#{messages['agency.transfer.reservation.routeType']}"
                                                  objectList="#{agencyReservationListSupport}"
                                                  column="agencyReservation.routeType"/>
                        </f:facet>
                        #{messages[agencyReservation.routeType.message]}
                    </rich:column>

                    <!-- TODO points has to be clarify -->
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="agencyReservationListPanel"
                                                  columnName="#{messages['agency.transfer.reservation.to']}"
                                                  objectList="#{agencyReservationListSupport}"
                                                  column="agencyReservation.to.name"/>
                        </f:facet>
                        #{agencyReservation.to}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="agencyReservationListPanel"
                                                  columnName="#{messages['agency.transfer.reservation.from']}"
                                                  objectList="#{agencyReservationListSupport}"
                                                  column="agencyReservation.from.name"/>
                        </f:facet>
                        #{agencyReservation.from}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="agencyReservationListPanel"
                                                  columnName="#{messages['agency.transfer.reservation.date']}"
                                                  objectList="#{agencyReservationListSupport}"
                                                  column="agencyReservation.date"/>
                        </f:facet>
                        #{agencyReservation.date}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="agencyReservationListPanel"
                                                  columnName="#{messages['agency.transfer.reservation.flightNo']}"
                                                  objectList="#{agencyReservationListSupport}"
                                                  column="agencyReservation.flightNo"/>
                        </f:facet>
                        #{agencyReservation.flightNo}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="agencyReservationListPanel"
                                                  columnName="#{messages['agency.transfer.reservation.pax']}"
                                                  objectList="#{agencyReservationListSupport}"
                                                  column="agencyReservation.pax"/>
                        </f:facet>
                        #{agencyReservation.pax}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="agencyReservationListPanel"
                                                  columnName="#{messages['agency.transfer.reservation.reservationStatus']}"
                                                  objectList="#{agencyReservationListSupport}"
                                                  column="agencyReservation.reservationStatus"/>
                        </f:facet>
                        #{messages[agencyReservation.reservationStatus.message]}
                    </rich:column>

                    <rich:column style="text-align: right">
                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{agencyReservationListSupport.navToView(agencyReservation)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{agencyReservationListSupport}" renderId="agencyReservationListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{agencyReservationListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
