<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                template="/agency/agency-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{agencyReservationWizardSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:event listener="#{agencyReservationWizardSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['agency.transfer.reservation.wizard.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <a:outputPanel id="reservationWizardPanel" layout="block">
                <ui:fragment rendered="#{agencyReservationWizardSupport.index eq 0}">
                    <ui:include src="wizard/agency-reservation-wizard-routa-select.xhtml"/>
                </ui:fragment>
                <ui:fragment rendered="#{agencyReservationWizardSupport.index eq 1}">
                    <ui:include src="wizard/agency-reservation-wizard-information.xhtml"/>
                </ui:fragment>

                <div class="form-actions">
                    <a:commandLink title="#{messages['global.button.cancel']}"
                                   styleClass="btn btn-default btn-sm" immediate="true"
                                   action="#{agencyReservationWizardSupport.cancel()}">
                        <span class="glyphicon glyphicon-backward"/>
                        <h:outputText value=" #{messages['global.button.cancel']}"/>
                    </a:commandLink>

                    <a:commandLink title="#{messages['global.button.previous']}"
                                   styleClass="btn btn-danger btn-sm" execute="@form"
                                   render="reservationWizardPanel, wizardStateInfoPanel"
                                   rendered="#{!agencyReservationWizardSupport.firstState}"
                                   action="#{agencyReservationWizardSupport.previous()}">
                        <span class="glyphicon glyphicon-arrow-left"/>
                        <h:outputText value=" #{messages['global.button.previous']}"/>
                    </a:commandLink>

                    <a:commandLink title="#{messages['global.button.next']}"
                                   styleClass="btn btn-primary btn-sm" execute="@form"
                                   render="reservationWizardPanel, wizardStateInfoPanel"
                                   rendered="#{!agencyReservationWizardSupport.lastState}"
                                   action="#{agencyReservationWizardSupport.next()}">
                        <span class="glyphicon glyphicon-arrow-right"/>
                        <h:outputText value=" #{messages['global.button.next']}"/>
                    </a:commandLink>

                    <a:commandLink title="#{messages['global.button.save']}"
                                   styleClass="btn btn-primary btn-sm" execute="@form"
                                   render="reservationWizardPanel, wizardStateInfoPanel"
                                   rendered="#{agencyReservationWizardSupport.lastState}"
                                   action="#{agencyReservationWizardSupport.finish()}">
                        <span class="glyphicon glyphicon-floppy-disk"/>
                        <h:outputText
                                value=" #{agencyReservationWizardSupport.managed ? messages['global.button.update'] : messages['global.button.save']}"/>
                    </a:commandLink>
                </div>
            </a:outputPanel>

        </h:form>

    </ui:define>

</ui:composition>