<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:orca="http://java.sun.com/jsf/composite/orca"
              xmlns:a="http://richfaces.org/a4j"
        >

    <div class="row">
        <div class="col-md-6">
            <orca:panel compId="destPanel" title="Destination" styleClass="panel-success">
                <orca:output compId="routeTypeOutput" label="#{messages['admin.location.transfer.routeType']}"
                             value="#{messages[routeSelectorComponent.routeType.message]}"/>
                <orca:output compId="coutryOutput" label="#{messages['admin.location.transfer.country']}"
                             value="#{routeSelectorComponent.country.name}"/>
                <orca:output compId="citySelectOutput" label="#{messages['admin.location.transfer.city']}"
                             value="#{routeSelectorComponent.city.name}"/>
                <orca:output compId="airportSelectOutput" label="#{messages['admin.location.transfer.airport']}"
                             value="#{routeSelectorComponent.airport.name}"/>
                <orca:output compId="regionSelectOutput" label="#{messages['admin.location.transfer.region']}"
                             value="#{routeSelectorComponent.region.name}"/>
            </orca:panel>
        </div>
        <div class="col-md-6">
            <orca:panel compId="flightInfoPanel" title="Flight" styleClass="panel-success">
                <orca:output compId="flightNo" label="#{messages['reservation.label.flightNo']}"
                             value="#{frontReservationWizardSupport.instance.flightNo}"/>
                <orca:dateOutput compId="departureDate" label="#{messages['reservation.label.flightDate']}"
                                 value="#{frontReservationWizardSupport.instance.flightDate}"/>
                <orca:output compId="departureTime" label="#{messages['reservation.label.flightTime']}"
                             value="#{frontReservationWizardSupport.flightTime}"/>
                <orca:dateOutput compId="arrivalDate" label="#{messages['reservation.label.pickupDate']}"
                                 value="#{frontReservationWizardSupport.instance.pickupDate}"/>
                <orca:output compId="arrivalTime" label="#{messages['reservation.label.pickupTime']}"
                             value="#{frontReservationWizardSupport.pickupTime}"/>
            </orca:panel>
        </div>
        <div class="col-md-12">
            <orca:panel compId="customerContactPanel" title="Contact" styleClass="panel-info">
                <orca:output compId="paxInput" label="#{messages['reservation.label.pax']}"
                             value="#{frontReservationWizardSupport.instance.pax}"/>
                <orca:output compId="emailInput" label="#{messages['reservation.label.email']}"
                             value="#{frontReservationWizardSupport.instance.email}"/>
                <orca:output compId="phoneInput" label="#{messages['reservation.label.phone']}"
                             value="#{frontReservationWizardSupport.instance.phone}"/>
                <orca:output compId="pickupTextInput" label="#{messages['reservation.label.pickupSignText']}"
                             value="#{frontReservationWizardSupport.instance.pickupSignText}"/>
                <orca:output compId="fullAddressInput" label="#{messages['reservation.label.fullAddress']}"
                             value="#{frontReservationWizardSupport.instance.fullAddress}"/>
            </orca:panel>
        </div>
    </div>

    <div class="row">
        <a:repeat var="car" value="#{frontReservationWizardSupport.carList}">
            <div class="col-lg-4">
                <orca:panel compId="carId" title="Transportation" styleClass="panel-warning">
                    <orca:output compId="carNameOutput" label="#{messages['transferPriceSelector.component.car']}"
                                 value="#{car.carType.name}"/>
                    <orca:output compId="carModelYearOutput"
                                 label="#{messages['transferPriceSelector.component.modelYear']}"
                                 value="#{car.carType.modelYear}"/>
                    <orca:output compId="catTypeOutput" label="#{messages['transferPriceSelector.component.carType']}"
                                 value="#{messages[car.carType.shape.message]}"/>
                    <orca:output compId="carPaxOutput" label="#{messages['transferPriceSelector.component.pax']}"
                                 value="#{car.carType.pax}"/>
                    <orca:output compId="carPriceOutput" label="#{messages['transferPriceSelector.component.price']}"
                                 value="#{car.price.converted}"/>
                </orca:panel>
            </div>
        </a:repeat>

        <div class="col-md-4">
            <orca:panel compId="totalPanel" title="Total" styleClass="panel-danger">
                <orca:output compId="totalPax" label="#{messages['transferPriceSelector.component.pax']}"
                             value="#{frontReservationWizardSupport.totalPax}"/>
                <orca:output compId="totalPrice" label="#{messages['transferPriceSelector.component.price']}"
                             value="#{frontReservationWizardSupport.totalMoney.converted}"/>
            </orca:panel>
        </div>
    </div>


</h:panelGroup>