<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:orca="http://java.sun.com/jsf/composite/orca"
        >

    <div class="row">
        <div class="col-md-6">
            <orca:input compId="flightNo" label="#{messages['reservation.label.flightNo']}"
                        value="#{frontReservationWizardSupport.instance.flightNo}"/>
            <orca:dateInput compId="departureDate" label="#{messages['reservation.label.flightDate']}"
                            value="#{frontReservationWizardSupport.instance.flightDate}"/>
            <orca:timeInput compId="departureTime" label="#{messages['reservation.label.flightTime']}"
                            value="#{frontReservationWizardSupport.flightTime}"/>
            <orca:dateInput compId="arrivalDate" label="#{messages['reservation.label.pickupDate']}"
                            value="#{frontReservationWizardSupport.instance.pickupDate}"/>
            <orca:timeInput compId="arrivalTime" label="#{messages['reservation.label.pickupTime']}"
                            value="#{frontReservationWizardSupport.pickupTime}"/>
        </div>
        <div class="col-md-6">
            <orca:input compId="paxInput" label="#{messages['reservation.label.pax']}"
                        value="#{frontReservationWizardSupport.instance.pax}"/>
            <orca:input compId="emailInput" label="#{messages['reservation.label.email']}"
                        value="#{frontReservationWizardSupport.instance.email}"/>
            <orca:input compId="phoneInput" label="#{messages['reservation.label.phone']}"
                        value="#{frontReservationWizardSupport.instance.phone}"/>
            <orca:input compId="pickupTextInput" label="#{messages['reservation.label.pickupSignText']}"
                        value="#{frontReservationWizardSupport.instance.pickupSignText}"/>
            <orca:input compId="fullAddressInput" label="#{messages['reservation.label.fullAddress']}"
                        value="#{frontReservationWizardSupport.instance.fullAddress}"/>
        </div>
    </div>

</h:panelGroup>