<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:a="http://richfaces.org/a4j"
              xmlns:f="http://java.sun.com/jsf/core"
              xmlns:rich="http://java.sun.com/jsf/html">

    <a:outputPanel layout="block" styleClass="-th-default-actions">
        <a:commandLink styleClass="btn btn-danger btn-sm" title="#{messages['front.reservation.button.addCar']}"
                       action="#{transferPriceSelectorComponent.init(routeSelectorComponent.transfer)}"
                       render="transferPriceSelectorModalListPanel"
                       oncomplete="$('#transferPriceSelectorModal').modal('show')">
            <span class="glyphicon glyphicon-plus"/>
            <h:outputText value=" #{messages['front.reservation.button.addCar']}"/>
        </a:commandLink>
    </a:outputPanel>

    <a:outputPanel id="priceListPanel" layout="block" styleClass="table-responsive">
        <rich:dataTable var="car" value="#{frontReservationWizardSupport.carList}"
                        styleClass="table table-striped table-hover table-condensed">
            <rich:column>
                <f:facet name="header">#{messages['transferPriceSelector.component.car']}</f:facet>
                <h:outputText value="#{car.carType.name}"/>
                <f:facet name="footer">
                    <h:outputText value="#{messages['transferPriceSelector.component.total']}"
                                  style="font-weight: bold"/>
                </f:facet>
            </rich:column>
            <rich:column>
                <f:facet name="header">#{messages['transferPriceSelector.component.modelYear']}</f:facet>
                <h:outputText value="#{car.carType.modelYear}"/>
            </rich:column>
            <rich:column>
                <f:facet name="header">#{messages['transferPriceSelector.component.carType']}</f:facet>
                <h:outputText value="#{messages[car.carType.shape.message]}"/>
            </rich:column>
            <rich:column>
                <f:facet name="header">#{messages['transferPriceSelector.component.pax']}</f:facet>
                <h:outputText value="#{car.carType.pax}"/>
                <f:facet name="footer">
                    <h:outputText value="#{frontReservationWizardSupport.totalPax}" style="font-weight: bold"/>
                </f:facet>
            </rich:column>
            <rich:column>
                <f:facet name="header">#{messages['transferPriceSelector.component.price']}</f:facet>
                <h:outputText value="#{car.price.converted}"/>
                <f:facet name="footer">
                    <h:outputText value="#{frontReservationWizardSupport.totalMoney.converted}"
                                  style="font-weight: bold"/>
                </f:facet>
            </rich:column>
            <rich:column headerClass="table-action-header">
                <a:commandLink title="#{messages['global.button.remove']}"
                               action="#{frontReservationWizardSupport.removeCardAction(car)}"
                               styleClass="btn btn-xs btn-danger"
                               render="priceListPanel">
                    <span class="glyphicon glyphicon-minus"/>
                </a:commandLink>
            </rich:column>
        </rich:dataTable>
    </a:outputPanel>

    <a:outputPanel layout="block" styleClass="-th-default-actions">
        <a:commandLink styleClass="btn btn-danger btn-sm" title="#{messages['front.reservation.button.addCar']}"
                       action="#{transferPriceSelectorComponent.init(routeSelectorComponent.transfer)}"
                       render="transferPriceSelectorModalListPanel"
                       oncomplete="$('#transferPriceSelectorModal').modal('show')">
            <span class="glyphicon glyphicon-plus"/>
            <h:outputText value=" #{messages['front.reservation.button.addCar']}"/>
        </a:commandLink>
    </a:outputPanel>

</h:panelGroup>