<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:a="http://richfaces.org/a4j"
              xmlns:orca="http://java.sun.com/jsf/composite/orca"
              xmlns:f="http://java.sun.com/jsf/core">

    <div class="row">
        <div class="col-md-6">
            <orca:decorateEdit compId="routeTypeSelect" label="#{messages['admin.location.transfer.routeType']}">
                <h:selectOneMenu id="routTypeSelectInput" value="#{routeSelectorComponent.routeType}"
                                 styleClass="form-control input-sm">
                    <f:selectItem itemLabel="#{messages['global.label.selectPlease']}"/>
                    <f:selectItems var="routeType" value="#{routeSelectorComponent.routeTypeEnumList}"
                                   itemLabel="#{messages[routeType.message]}" itemValue="#{routeType}"/>
                </h:selectOneMenu>
            </orca:decorateEdit>

            <orca:decorateEdit compId="countrySelect" label="#{messages['admin.location.transfer.country']}">
                <h:selectOneMenu id="countrySelectInput" value="#{routeSelectorComponent.country}"
                                 converter="entityConverter"
                                 styleClass="form-control input-sm">
                    <f:selectItem itemLabel="#{messages['global.label.selectPlease']}"/>
                    <f:selectItems var="country" value="#{routeSelectorComponent.countryList}"
                                   itemLabel="#{country.name}" itemValue="#{country}"/>
                    <a:ajax event="change" execute="@this"
                            listener="#{routeSelectorComponent.countryAjaxChangeListener}"
                            render="countrySelect citySelect airportSelect regionSelect"/>
                </h:selectOneMenu>
                <h:message for="countrySelectInput" style="color: red"/>
            </orca:decorateEdit>

            <orca:decorateEdit compId="citySelect" label="#{messages['admin.location.transfer.city']}">
                <h:selectOneMenu id="citySelectInput" value="#{routeSelectorComponent.city}"
                                 converter="entityConverter"
                                 styleClass="form-control input-sm">
                    <f:selectItem itemLabel="#{messages['global.label.selectPlease']}"/>
                    <f:selectItems var="city" value="#{routeSelectorComponent.cityList}"
                                   itemLabel="#{city.name}" itemValue="#{city}"/>
                    <a:ajax event="change" execute="@this"
                            listener="#{routeSelectorComponent.cityAjaxChangeListner()}"
                            render="airportSelect, regionSelect"/>
                </h:selectOneMenu>
                <h:message for="citySelectInput" style="color: red"/>
            </orca:decorateEdit>
        </div>
        <div class="col-md-6">
            <orca:decorateEdit compId="airportSelect" label="#{messages['admin.location.transfer.airport']}">
                <h:selectOneMenu id="airportSelectInput" value="#{routeSelectorComponent.airport}"
                                 converter="entityConverter"
                                 styleClass="form-control input-sm">
                    <f:selectItem itemLabel="#{messages['global.label.selectPlease']}"/>
                    <f:selectItems var="airport" value="#{routeSelectorComponent.airportList}"
                                   itemLabel="#{airport.name}" itemValue="#{airport}"/>
                    <a:ajax event="change"
                            listener="#{routeSelectorComponent.airportAjaxChangeListener()}"
                            execute="@this" render="airportSelect regionSelect"/>
                </h:selectOneMenu>
                <h:message for="airportSelectInput" style="color: red"/>
            </orca:decorateEdit>

            <orca:decorateEdit compId="regionSelect" label="#{messages['admin.location.transfer.region']}">
                <h:selectOneMenu id="regionSelectInput" value="#{routeSelectorComponent.region}"
                                 converter="entityConverter"
                                 styleClass="form-control input-sm">
                    <f:selectItem itemLabel="#{messages['global.label.selectPlease']}"/>
                    <f:selectItems var="region" value="#{routeSelectorComponent.regionList}"
                                   itemLabel="#{region.name}" itemValue="#{region}"/>
                    <a:ajax event="change" execute="@this"/>

                </h:selectOneMenu>
                <h:message for="regionSelectInput" style="color: red"/>
            </orca:decorateEdit>
        </div>
    </div>

</h:panelGroup>