<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:orca="http://java.sun.com/jsf/composite/orca"
        >

    <div class="row">
        <div class="col-md-6">
            <orca:input compId="flightNo" label="#{messages['reservation.label.flightNo']}" value=""/>

            <orca:dateInput compId="departureDate" label="#{messages['reservation.label.departureDate']}" value=""/>
            <orca:timeInput compId="departureTime" label="#{messages['reservation.label.departureTime']}" value=""/>

            <orca:dateInput compId="arrivalDate" label="#{messages['reservation.label.arrivalDate']}" value=""/>
            <orca:timeInput compId="arrivalTime" label="#{messages['reservation.label.arrivalTime']}" value=""/>

        </div>
    </div>

</h:panelGroup>