<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{pointEditSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:event listener="#{pointEditSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.location.point.edit.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">

                    <orca:decorateEdit compId="typeSelect" label="#{messages['admin.location.point.type']}">
                        <h:selectOneMenu value="#{pointEditSupport.instance.type}" styleClass="form-control input-sm">
                            <f:selectItem itemLabel="#{messages['global.label.selectPlease']}"/>
                            <f:selectItems var="pointType" value="#{pointEditSupport.pointTypeEnumList}"
                                           itemLabel="#{messages[pointType.message]}" itemValue="#{pointType}"/>
                        </h:selectOneMenu>
                    </orca:decorateEdit>

                    <orca:decorateEdit compId="countrySelect" label="#{messages['admin.location.point.country']}">
                        <h:selectOneMenu value="#{pointEditSupport.country}" converter="entityConverter"
                                         styleClass="form-control input-sm">
                            <f:selectItem itemLabel="#{messages['global.label.selectPlease']}"/>
                            <f:selectItems var="country" value="#{pointEditSupport.countryList}"
                                           itemLabel="#{country.name}" itemValue="#{country}"/>
                            <a:ajax event="change" execute="@this"
                                    listener="#{pointEditSupport.countryAjaxChangeListener}" render="citySelect"/>
                        </h:selectOneMenu>
                    </orca:decorateEdit>

                    <orca:entitySelect compId="citySelect" value="#{pointEditSupport.instance.city}"
                                       label="#{messages['admin.location.point.city']}"
                                       items="#{pointEditSupport.cityList}" itemVar="city" itemLabel="#{city.name}"
                                       itemValue="#{city}"/>


                </div>
                <div class="col-md-6">
                    <orca:input compId="pointCode" label="#{messages['admin.location.point.code']}"
                                value="#{pointEditSupport.instance.code.value}" required="true"/>

                    <orca:input compId="pointName" label="#{messages['admin.location.point.name']}"
                                value="#{pointEditSupport.instance.name}" required="true"/>

                    <orca:input compId="latInput" label="#{messages['admin.location.point.latLng']}"
                                disable="true"
                                value="#{pointEditSupport.instance.latLng}"/>
                </div>
            </div>
            <div class="row">
                <rich:tabPanel activeItem="#{pointEditSupport.selectedTab}">
                    <rich:tab>
                        <f:facet name="header">#{messages['admin.location.point.map']}</f:facet>

                        <div style="padding: 4px"><h5><span
                                class="label label-danger">#{messages['global.label.info']}</span><span
                                style="padding-left: 3px;">#{messages['admin.location.point.markerSetupMessage']}</span>
                        </h5></div>
                        <div id="google-map"></div>
                    </rich:tab>
                </rich:tabPanel>
            </div>
            <div class="form-actions">
                <a:commandLink styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{pointEditSupport.navToBack()}">
                    <span class="glyphicon glyphicon-arrow-left"/>
                    <h:outputText value=" #{messages['global.button.cancel']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.save']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{pointEditSupport.persist()}"
                               rendered="#{!pointEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.save']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.update']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{pointEditSupport.update()}"
                               rendered="#{pointEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.update']}"/>
                </a:commandLink>
            </div>
        </h:form>


        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiiPD1INb-oNMIhdPHAE-4eiTOtobj2iQ"></script>
        <h:outputScript library="themes/admin/js" name="gmap.js"/>

        <a:jsFunction name="updateCoordinates" render="latInput">
            <a:param name="coordinate" assignTo="#{pointEditSupport.latLng}"/>
        </a:jsFunction>
        <a:jsFunction name="loadPosition" data="#{pointEditSupport.toLatLng()}"
                      oncomplete="setMarkerPosition(event.data)"/>
    </ui:define>


</ui:composition>