<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{pointListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.location.point.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.location.point.code']}"
                                  value="#{pointListSupport.params.code}"/>
                <orca:searchInput label="#{messages['admin.location.point.name']}"
                                  value="#{pointListSupport.params.name}"/>
                <orca:searchAction search="#{pointListSupport.search()}" reset="#{pointListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{pointListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="pointListPanel" layout="block">
                <rich:dataTable var="point" value="#{pointListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="pointListPanel"
                                                  columnName="#{messages['admin.location.point.code']}"
                                                  objectList="#{pointListSupport}"
                                                  column="point.code.value"/>
                        </f:facet>
                        #{point.code}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="pointListPanel"
                                                  columnName="#{messages['admin.location.point.name']}"
                                                  objectList="#{pointListSupport}"
                                                  column="point.name"/>
                        </f:facet>
                        #{point.name}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="pointListPanel"
                                                  columnName="#{messages['admin.location.point.city']}"
                                                  objectList="#{pointListSupport}"
                                                  column="point.city.name"/>
                        </f:facet>
                        #{point.city.name}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="pointListPanel"
                                                  columnName="#{messages['admin.location.point.type']}"
                                                  objectList="#{pointListSupport}"
                                                  column="point.type"/>
                        </f:facet>
                        #{messages[point.type.message]}
                    </rich:column>
                    <rich:column style="text-align: right">
                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{pointListSupport.navToView(point)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{pointListSupport}" renderId="pointListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{pointListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
