<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{pointViewSupport.instanceId}">
        <f:converter converterId="javax.faces.Long"/>
        </f:viewParam>
        <f:event type="preRenderView" listener="#{pointViewSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">#{messages['admin.location.point.view.title']}</ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:output label="#{messages['admin.location.point.type']}"
                                 value="#{messages[pointViewSupport.instance.type.message]}"/>
                    <orca:output label="#{messages['admin.location.point.code']}"
                                 value="#{pointViewSupport.instance.code}"/>
                    <orca:output label="#{messages['admin.location.point.country']}"
                                 value="#{pointViewSupport.instance.city.country.name}"/>
                    <orca:output label="#{messages['admin.location.point.city']}"
                                 value="#{pointViewSupport.instance.city.name}"/>
                    <orca:output label="#{messages['admin.location.point.name']}"
                                 value="#{pointViewSupport.instance.name}"/>
                    <orca:output label="#{messages['admin.location.point.latLng']}"
                                 value="#{pointViewSupport.instance.latLng}"/>


                </div>
            </div>

            <div class="form-actions">
                <a:commandLink title="#{messages['global.button.back']}"
                               styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{pointViewSupport.navToBack()}">
                <span class="glyphicon glyphicon-backward"/>
                    <h:outputText value=" #{messages['global.button.back']}"/>
                </a:commandLink>

                <a:commandLink title="#{messages['global.button.edit']}"
                               styleClass="btn btn-primary btn-sm"
                               action="#{pointViewSupport.navToEdit()}">
                <span class="glyphicon glyphicon-pencil"/>
                    <h:outputText value=" #{messages['global.button.edit']}"/>
                </a:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>