<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:orca="http://java.sun.com/jsf/composite/orca" xmlns:f="http://java.sun.com/jsf/core"
                template="/admin/admin-theme.xhtml">

    <ui:define name="title">
        Dashboard
    </ui:define>
    <ui:define name="content">
        Hello #{authentication.currentUser}
        <button type="button" onclick="$('#demo-modal').modal('show')">Modal</button>

        <orca:modal compId="demo-modal" size="modal-lg">
            <f:facet name="content">
                <h:outputText value="Hello World"/>
            </f:facet>
            <f:facet name="footer">
                <button class="btn btn-danger btn-sm">Value</button>
            </f:facet>
        </orca:modal>

    </ui:define>

</ui:composition>
