/**
 *  Front-End Bootstrap CSS definations
 *  Transfer System Management
 *  Orca Team
 *  http://orcatean.org
 */

.navbar-blue {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    background: none;
    background-color: #66BCDA !important;
}

.navbar-blue .nav > li > a {
    color: #fff;
    text-shadow: none;
}

.navbar-blue .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-blue .navbar-toggle {
    border: none;
}

.navbar-blue .navbar-toggle:hover, .navbar-blue .navbar-toggle:focus {
    background-color: #c9302c;
}

.form-horizontal .control-label {
    text-align: left !important;
}

.form-control {
    padding-right: 30px;
}

.form-control + .glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
}