/**
 *  Transfer Management System
 *  Orca Team
 *  http://orcateam.org
 */

body {
    background-image: url("#{resource['front/pattern-bpxb.png']}");
    background-repeat: repeat;
}

#th-front-theme {
    margin: 15px 15px 0px 15px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
}

#th-front-footer {
    margin: 0px 15px 15px 15px;
    background-color: #222222;
    padding: 15px;
    color: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

#th-front-footer h5 {
    color: #66BCDA !important;
    border-bottom: 1px solid #2E2E2E !important;
    padding: 3px;
}

#th-front-footer ul {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

#th-front-footer ul li {
    color: #A3A3A3 !important;
}

#th-front-footer hr {
    border-top: 1px solid #2E2E2E;
}

#th-front-footer .social-icon {
    margin: 5px;
}

#th-front-header {
    margin-bottom: 15px;
}

#th-front-logo {
    float: left;
}

#th-front-panel {
    float: right;
}

#th-front-panel-top-menu {
    margin-bottom: 15px;
}

#th-front-panel-top-menu a {
    color: #222222;
}

.th-front-main-menu {
    background-color: #222222;
}

.th-front-main-menu:hover {
    background-color: #d9534f;
}

.th-front-main-menu > a:hover {
    color: #ffffff !important;
}

#th-front-panel .menu-sperator {
    color: #cccccc;
}

#th-front-panel-chart {
    font-size: 12pt;
    color: #66BCDA;
}

.-th-page-actions {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wizard-state-info-panel {
    font-size: 9pt;
}

.wizard-active-number {
    border: 2px solid #cccccc;
    font-weight: bold;
    padding: 3px 8px;
}

.wizard-state-label {
    padding: 4px;
}

.wizard-state-active-label {
    padding: 4px;
    font-weight: bold;
}

.form-actions {
    border-top: 1px solid rgb(238, 238, 238);
    padding-top: 10px;
}

.form-actions .btn {
    margin-right: 5px
}

.datepicker, .yearpicker, .monthpicker {
    z-index: 999 !important;
}

.-th-default-actions {
    text-align: right;
    margin-bottom: 10px;
}

.table-action-header {
    width: 50px;
}

.table-total-label {
    font-weight: bold;
}