.-th-default-tableList .rf-dt {
    width: 100%;
}

*.rf-msg-inf, *.rf-msgs-inf {
    background-image: none;
}

.rf-fu {
    border: none;
}

.rf-fu-hdr {
    border: none;
}

/*richfaces calendar*/
.rf-cal img {
    display: none;
}

.rf-cal .form-control[disabled], .rf-cal .form-control[readonly], .rf-cal fieldset[disabled] .rf-cal .form-control {
    background: none;
    cursor: pointer;
}

.rf-cal-btn {

}

.rf-cal-week {
    padding: 3px;
}

.rf-cal-extr {
    border-radius: 3px;
    background-color: #fff;
    font-size: 9pt;
    width: 150px;
}

.rf-cal-hdr, .rf-cal-extr, .rf-cal-day-lbl, .rf-cal-c, .rf-cal-ftr, .rf-cal-week {
    border-color: #ccc;
}

*.rf-cal-day-lbl {
    padding: 4px;
}

*.rf-dt-shdr-c {
    font-weight: bold;
    text-align: left;
}

.controls .rf-msg-err, .controls .rf-msgs-err, .controls.rf-msg-ftl,
.controls .rf-msgs-ftl, .controls .rf-msg-inf, .controls .rf-msgs-inf, .controls .rf-msg-wrn,
.controls .rf-msgs-wrn, .controls .rf-msg-ok, .controls .rf-msgs-ok {
    display: inherit;

}

.controls .rf-msg {
    padding-left: 10px;
}

/* tabpanel */

*.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top, *.rf-tab-cnt {
    background: none;
    border: none;
}

*.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top {
    height: auto;
}

*.rf-tab-hdr-brd {
    border: none;
    height: 1px;
    /*border-bottom: 1px solid rgb(238, 238, 238);*/
}

*.rf-tab-hdr-spcr {
    border-bottom: 2px solid rgb(238, 238, 238);
}

*.rf-tab-hdr-act.rf-tab-hdr-top, *.rf-tab-hdr-inact.rf-tab-hdr-top {
    padding: 0;
    border: none;
    font-weight: bold;
    vertical-align: middle;
    background: none;
    cursor: pointer;
    padding: 8px 12px;
    border-bottom: 2px solid rgb(238, 238, 238);
    font-weight: normal;

}

*.rf-tab-hdr-act.rf-tab-hdr-top {
    font-weight: bold;
    cursor: default;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid rgb(238, 238, 238);
    border-left: 2px solid rgb(238, 238, 238);
    border-right: 2px solid rgb(238, 238, 238);
}

*.rf-tab-cnt {
    padding: 0;
    padding-top: 10px;
}

*.rf-tbp {
    margin-top: 15px;
    margin-bottom: 15px;
}

*.rf-dt-sftr-c {
    text-align: left !important;
}

