
body {
    /*background-image: url("#{resource['themes/admin/images/noise-f1.gif']}");*/
    /*background-repeat: repeat;*/
}

.form-actions {
    border-top: 1px solid rgb(238, 238, 238);
    padding-top: 10px;
}

.form-actions .btn {
    margin-right: 5px
}

#th-admin-header {
    height: 100px;
}

.-th-content {
    padding: 10px;
}

.-th-content-title {
    background-image: url("#{resource['themes/admin/images/page-title-bg.png']}");
    background-repeat: no-repeat;
    background-position: bottom center;
    margin: 0px;
    margin-bottom: 10px;
}

.-th-default-search {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.-th-default-actions {
    text-align: right;
    margin-bottom: 10px;
}

*.rf-dt-shdr-c {
    text-align: left !important;
}

#google-map {
    height: 300px;
}

.datepicker, .yearpicker, .monthpicker {
    z-index: 999 !important;
}

.wizard-state-info-panel {
    font-size: 9pt;
}

.wizard-active-number {
    border: 2px solid #cccccc;
    font-weight: bold;
    padding: 3px 8px;
}

.wizard-state-label {
    padding: 4px;
}

.wizard-state-active-label {
    padding: 4px;
    font-weight: bold;
}