<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:a="http://richfaces.org/a4j"
             xmlns:m="http://java.sun.com/jsf/composite/menu"
             xmlns:ui="http://java.sun.com/jsf/facelets">


    <a:outputPanel id="th-front-menu" layout="block">

        <m:main id="tns-front-menu">

            <m:item label="#{messages['front.menu.main']}" outcome="/index"
                    styleClass="#{activeMenu eq 'main' ? 'th-front-main-menu' : ''}"/>
            <m:item label="#{messages['front.menu.reservation']}"
                    outcome="#{viewService.getView('frontReservationWizard')}"
                    styleClass="#{activeMenu eq 'reservation' ? 'th-front-main-menu' : ''}"/>
            <m:item label="#{messages['front.menu.account']}" outcome="/index"
                    styleClass="#{activeMenu eq 'accout' ? 'th-front-main-menu' : ''}"/>
            <m:item label="#{messages['front.menu.about']}" outcome="/index"
                    styleClass="#{activeMenu eq 'about' ? 'th-front-main-menu' : ''}"/>

        </m:main>

    </a:outputPanel>
</ui:fragment>