<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:orca="http://java.sun.com/jsf/composite/orca"
             xmlns:a="http://richfaces.org/a4j"
             xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html">

    <a:outputPanel id="front-top-settings-menu" layout="block">
        <h:form>
            <orca:dropdownButton compId="langChangeButton" label="#{sessionUtil.language.name}"
                                 buttonClass="btn-xs btn-danger">
                <a:repeat var="lang" value="#{configurator.languageList}">
                    <li><h:commandLink action="#{sessionUtil.setLanguage(lang)}" value="#{lang.name}"/></li>
                </a:repeat>

            </orca:dropdownButton>

            <orca:dropdownButton compId="currencyChangeButton" label="#{sessionUtil.currency.code}"
                                 buttonClass="btn-xs btn-warning">
                <a:repeat var="currency" value="#{configurator.currencyTypeList}">
                    <li><h:commandLink action="#{sessionUtil.setCurrency(currency)}" value="#{currency.code}"/></li>
                </a:repeat>
            </orca:dropdownButton>
        </h:form>
    </a:outputPanel>


</ui:fragment>