<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:ui="http://java.sun.com/jsf/facelets"
              id="wizardStateInfoPanel" styleClass="wizard-state-info-panel"
              layout="block">

    <table border="0">
        <tr>
            <ui:repeat var="state" value="#{wizardSupport.stateList}" varStatus="iteration">
                <td>
                    <h:outputText styleClass="wizard-state-label" value=" - " rendered="#{iteration.index > 0 }"/>
                    <span class="img-circle #{iteration.index == wizardSupport.index ? 'wizard-active-number' : 'wizard-number'}">#{iteration.index + 1}</span>
                    <span style="#{wizardSupport.isSkipped(iteration.index) ? 'text-decoration:line-through' : ''}"
                          class="#{iteration.index == wizardSupport.index ? 'wizard-state-active-label' : 'wizard-state-label'}">#{messages[state]}</span>
                </td>
            </ui:repeat>
        </tr>
    </table>

</h:panelGroup>