<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:f="http://java.sun.com/jsf/core"
              xmlns:a="http://richfaces.org/a4j"
              xmlns:rich="http://richfaces.org/rich"
              layout="block">

    <div class="-th-default-actions">
        <h:commandLink styleClass="btn btn-danger btn-sm"
                       action="#{agencyEditSupport.navToUserAdd()}">
            <span class="glyphicon glyphicon-plus"/>
            <h:outputText value=" #{messages['global.button.add']}"/>
        </h:commandLink>
    </div>

    <a:outputPanel id="agencyUserListPanel" layout="block">
        <rich:dataTable var="user" value="#{agencyEditSupport.agencyUserList}"
                        styleClass="table table-striped table-hover table-condensed">
            <rich:column>
                <f:facet name="header">#{messages['admin.agency.agency.tab.userList.name']}</f:facet>
                <h:outputText value="#{user.name}"/>
            </rich:column>
            <rich:column>
                <f:facet name="header">#{messages['admin.agency.agency.tab.userList.surName']}</f:facet>
                <h:outputText value="#{user.surname}"/>
            </rich:column>
            <rich:column>
                <f:facet name="header">#{messages['admin.agency.agency.tab.userList.surName']}</f:facet>
                <h:outputText value="#{user.email}"/>
            </rich:column>
        </rich:dataTable>
    </a:outputPanel>

</h:panelGroup>