<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="code" value="#{translateBulkEditSupport.langCode}"/>
        <f:event type="preRenderView" listener="#{translateBulkEditSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.i18n.translate.edit.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">

            <a:outputPanel id="keywordListPanel" layout="block">
                <rich:dataTable var="keyword" value="#{translateBulkEditSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">#{messages['admin.i18n.translate.keyword']}</f:facet>
                        #{keyword.text}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{translateBulkEditSupport.language.name}</f:facet>
                        <h:inputText value="#{keyword.translateMap[translateBulkEditSupport.langCode].text}"
                                     styleClass="form-control input-sm" onchange="setEdited()"/>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{translateBulkEditSupport}" renderId="keywordListPanel"/>

                <div>
                    <a:commandLink styleClass="btn btn-default btn-sm" immediate="true" style="margin-right: 5px;"
                                   action="#{translateBulkEditSupport.navToBack()}">
                        <span class="glyphicon glyphicon-arrow-left"/>
                        <h:outputText value=" #{messages['global.button.back']}"/>
                    </a:commandLink>
                    <a:commandLink styleClass="btn btn-danger btn-sm" execute="@form" render="@form"
                                   action="#{translateBulkEditSupport.bulkUpdate()}" oncomplete="setNotEdited()">
                        <span class="glyphicon glyphicon-floppy-save"/>
                        <h:outputText value=" #{messages['global.button.updateAll']}"/>
                    </a:commandLink>
                </div>
            </a:outputPanel>
        </h:form>
    </ui:define>

</ui:composition>
