<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{translateListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.i18n.translate.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.i18n.language.code']}"
                                  value="#{translateListSupport.params.code}"/>
                <orca:searchInput label="#{messages['admin.i18n.language.name']}"
                                  value="#{translateListSupport.params.name}"/>
                <orca:searchAction search="#{translateListSupport.search()}" reset="#{translateListSupport.reset()}"/>
            </div>

            <a:outputPanel id="languageListPanel" layout="block">
                <rich:dataTable var="language" value="#{translateListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="languageListPanel"
                                                  columnName="#{messages['admin.i18n.language.code']}"
                                                  objectList="#{translateListSupport}"
                                                  column="language.code.value"/>
                        </f:facet>
                        #{language.code}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="languageListPanel"
                                                  columnName="#{messages['admin.i18n.language.name']}"
                                                  objectList="#{translateListSupport}"
                                                  column="language.name"/>
                        </f:facet>
                        #{language.name}
                    </rich:column>
                    <rich:column style="text-align: right">
                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{translateListSupport.navToView(language)}">
                            <span class="glyphicon glyphicon-pencil"/>
                            <h:outputText value=" #{messages['global.button.edit']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{translateListSupport}" renderId="languageListPanel"/>
            </a:outputPanel>

        </h:form>
    </ui:define>

</ui:composition>
