<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:a="http://richfaces.org/a4j"
              xmlns:orca="http://java.sun.com/jsf/composite/orca"
              xmlns:f="http://java.sun.com/jsf/core">

    <orca:input compId="userName" label="#{messages['admin.auth.user.name']}"
                value="#{userWizardSupport.instance.name}"/>

    <orca:input compId="userSurname" label="#{messages['admin.auth.user.surname']}"
                value="#{userWizardSupport.instance.surname}"/>

    <orca:input compId="userEmail" label="#{messages['admin.auth.user.email']}"
                value="#{userWizardSupport.instance.email}"/>

    <orca:passwordInput compId="userPassword" label="#{messages['admin.auth.user.password']}"
                        value="#{userWizardSupport.newPassword}" required="#{!userWizardSupport.managed}"/>

    <orca:inputArea compId="userDescription" label="#{messages['admin.auth.user.description']}"
                    value="#{userWizardSupport.instance.description}"/>

    <orca:select compId="genderSelect"
                 label="#{messages['admin.auth.user.gender']}"
                 value="#{userWizardSupport.instance.gender}"
                 items="#{userWizardSupport.genders}" itemVar="gender"
                 itemLabel="#{messages[gender.message]}"
                 itemValue="#{gender}"/>

    <orca:entitySelect compId="roleSelect"
                       label="#{messages['admin.auth.user.role']}"
                       value="#{userWizardSupport.instance.role}"
                       items="#{userWizardSupport.roleList}" itemVar="role"
                       itemLabel="#{role.name}"
                       itemValue="#{role}"/>

</h:panelGroup>