<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:a="http://richfaces.org/a4j"
              xmlns:orca="http://java.sun.com/jsf/composite/orca"
              xmlns:f="http://java.sun.com/jsf/core"
              xmlns:ui="http://java.sun.com/jsf/facelets">

    <div class="row">
        <div class="col-lg-6">
            <orca:entitySelect compId="providerSelect"
                               label="#{messages['admin.auth.user.provider']}"
                               value="#{userWizardSupport.instance.provider}"
                               items="#{userWizardSupport.providerList}" itemVar="provider"
                               itemLabel="#{provider.name}"
                               itemValue="#{provider}"/>

            <ui:include src="information-input-common.xhtml"/>
        </div>
    </div>

</h:panelGroup>