<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:a="http://richfaces.org/a4j"
              xmlns:orca="http://java.sun.com/jsf/composite/orca"
              xmlns:f="http://java.sun.com/jsf/core">

    <div class="row">
        <div class="col-lg-6">
            <orca:select compId="userTypeSelect"
                         disable="#{userWizardSupport.managed}"
                         label="#{messages['admin.auth.user.userType']}"
                         value="#{userWizardSupport.userType}"
                         items="#{userWizardSupport.userTypes}" itemVar="userType"
                         itemLabel="#{messages[userType.message]}"
                         itemValue="#{userType}"/>
        </div>
    </div>

</h:panelGroup>