<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="label" required="true"/>
    <composite:attribute name="rendered" default="#{true}"/>
</composite:interface>

<composite:implementation>
    <ui:fragment rendered="#{cc.attrs.rendered}">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#{cc.attrs.label}<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <composite:insertChildren/>
            </ul>
        </li>
    </ui:fragment>
</composite:implementation>

</html>