<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="label" required="true"/>
    <composite:attribute name="rendered" default="#{true}"/>
</composite:interface>

<composite:implementation>
    <ui:fragment rendered="#{cc.attrs.rendered}">
        <li role="presentation" class="dropdown-header">#{cc.attrs.label}</li>
        <composite:insertChildren/>
        <li role="presentation" class="divider"></li>
    </ui:fragment>
</composite:implementation>

</html>