<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="label" required="true"/>
    <composite:attribute name="outcome" required="true"/>
    <composite:attribute name="rendered" default="#{true}"/>
    <composite:attribute name="styleClass"/>
    <composite:attribute name="style"/>

</composite:interface>

<composite:implementation>
    <ui:fragment rendered="#{cc.attrs.rendered}">
        <li class="#{cc.attrs.styleClass}" style="#{cc.attrs.style}">
            <h:link value="#{cc.attrs.label}" tabindex="-1" outcome="#{cc.attrs.outcome}"/>
        </li>
    </ui:fragment>
</composite:implementation>

</html>