<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:orca="http://java.sun.com/jsf/composite/orca"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title><ui:insert name="title"/> - Transfer Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</h:head>
<h:body>
    <h:outputStylesheet library="bootstrap/css" name="bootstrap.css"/>
    <h:outputStylesheet library="bootstrap/css" name="pastel-stream.css"/>
    <h:outputStylesheet library="themes/admin" name="bootstrap-reset.css"/>
    <h:outputStylesheet library="themes/admin" name="richfaces-reset.css"/>
    <h:outputStylesheet library="nprogress" name="nprogress.css"/>
    <h:outputStylesheet library="datepicker" name="datepicker3.css"/>
    <h:outputStylesheet library="timepicker" name="jquery-clockpicker.css"/>
    <h:outputStylesheet library="timepicker" name="bootstrap-clockpicker.css"/>
    <h:outputStylesheet library="themes/agency" name="style.css"/>


    <div id="th-agency-header" class="container">

    </div>

    <div id="th-agency-content" class="container">
        <div id="th-agency-menu">
            <ui:include src="/agency/components/agency-menu.xhtml"/>
        </div>

        <a:status id="ajaxStatusControl" onstart="startAjaxAction()" onstop="initDefaultTheme()"
                  onerror="ajaxErrorFunction(event)"/>

        <div class="-th-content">
            <div class="-th-default-alert-block">
                <a:outputPanel id="globalMessage" layout="block" ajaxRendered="true">
                    <orca:globalMessages/>
                </a:outputPanel>
            </div>
            <div class="page-header -th-content-title">
                <div style="float: left;">
                    <h4><ui:insert name="title"/></h4>
                </div>
                <div style="float: right;">
                    <div class="-th-page-actions">
                        <ui:insert name="page-actions"/>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <ui:insert name="content"/>
            </div>

        </div>
    </div>

    <div id="th-agency-footer">

    </div>

    <h:outputScript library="bootstrap/js" name="jquery.min.js"/>
    <h:outputScript library="bootstrap/js" name="bootstrap.js"/>
    <h:outputScript library="datepicker" name="bootstrap-datepicker.js"/>
    <h:outputScript library="timepicker" name="bootstrap-clockpicker.js"/>
    <h:outputScript library="timepicker" name="jquery-clockpicker.js"/>
    <h:outputScript library="nprogress" name="nprogress.js"/>
    <h:outputScript library="mask" name="jquery.mask.js"/>
    <h:outputScript library="js" name="tranet.js"/>
</h:body>
</html>



