<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:orca="http://java.sun.com/jsf/composite/orca" xmlns:f="http://java.sun.com/jsf/core"
                template="/agency/agency-theme.xhtml">

    <ui:define name="title">
        Dashboard
    </ui:define>
    <ui:define name="content">
        Hello #{authentication.currentUser}
    </ui:define>

</ui:composition>