<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                template="/front/front-theme.xhtml">

    <ui:param name="activeMenu" value="reservation"/>

    <f:metadata>


        <f:viewParam name="code" value="#{frontReservationWizardSupport.editInCartCode}"/>
        <f:event listener="#{frontReservationWizardSupport.initEditInCart()}" type="preRenderView" />
        <f:event listener="#{frontReservationWizardSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['front.reservation.title']}
    </ui:define>

    <ui:define name="page-actions">
        <ui:include src="/front/components/wizard-state-info.xhtml">
            <ui:param name="wizardSupport" value="#{frontReservationWizardSupport}"/>
        </ui:include>
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">

            <a:outputPanel id="reservationWizardPanel" layout="block">
                <ui:fragment rendered="#{frontReservationWizardSupport.index eq 0}">
                    <ui:include src="wizard/front-reservation-wizard-routa-select.xhtml"/>
                </ui:fragment>
                <ui:fragment rendered="#{frontReservationWizardSupport.index eq 1}">
                    <ui:include src="wizard/front-reservation-wizard-information.xhtml"/>
                </ui:fragment>
                <ui:fragment rendered="#{frontReservationWizardSupport.index eq 2}">
                    <ui:include src="wizard/front-reservation-wizard-car-select.xhtml"/>
                </ui:fragment>
                <ui:fragment rendered="#{frontReservationWizardSupport.index eq 3}">
                    <ui:include src="wizard/front-reservation-wizard-finish.xhtml"/>
                </ui:fragment>

                <div class="form-actions">
                    <a:commandLink title="#{messages['global.button.cancel']}"
                                   styleClass="btn btn-default btn-sm" immediate="true"
                                   action="#{frontReservationWizardSupport.cancel()}">
                        <span class="glyphicon glyphicon-backward"/>
                        <h:outputText value=" #{messages['global.button.cancel']}"/>
                    </a:commandLink>

                    <a:commandLink title="#{messages['global.button.previous']}"
                                   styleClass="btn btn-danger btn-sm" execute="@form"
                                   render="reservationWizardPanel, wizardStateInfoPanel"
                                   rendered="#{!frontReservationWizardSupport.firstState}"
                                   action="#{frontReservationWizardSupport.previous()}">
                        <span class="glyphicon glyphicon-arrow-left"/>
                        <h:outputText value=" #{messages['global.button.previous']}"/>
                    </a:commandLink>

                    <a:commandLink title="#{messages['global.button.next']}"
                                   styleClass="btn btn-primary btn-sm" execute="@form"
                                   render="reservationWizardPanel, wizardStateInfoPanel"
                                   rendered="#{!frontReservationWizardSupport.lastState}"
                                   action="#{frontReservationWizardSupport.next()}">
                        <span class="glyphicon glyphicon-arrow-right"/>
                        <h:outputText value=" #{messages['global.button.next']}"/>
                    </a:commandLink>

                    <a:commandLink title="#{messages['global.button.add']}"
                                   styleClass="btn btn-primary btn-sm" execute="@form"
                                   render="reservationWizardPanel, wizardStateInfoPanel"
                                   rendered="#{frontReservationWizardSupport.lastState}"
                                   action="#{frontReservationWizardSupport.finish()}">
                        <span class="glyphicon glyphicon-shopping-cart"/>
                        <h:outputText
                                value=" #{frontReservationWizardSupport.managed ? messages['global.button.add'] : messages['global.button.add']}"/>
                    </a:commandLink>
                </div>
            </a:outputPanel>

        </h:form>
        <ui:include src="/components/transfer-price-selector-modal.xhtml">
            <ui:param name="support" value="#{frontReservationWizardSupport}"/>
            <ui:param name="method" value="addCarAction"/>
            <ui:param name="render" value="priceListPanel"/>
        </ui:include>
    </ui:define>

</ui:composition>
