<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:a="http://richfaces.org/a4j"
             xmlns:m="http://java.sun.com/jsf/composite/menu"
             xmlns:ui="http://java.sun.com/jsf/facelets">


    <a:outputPanel id="th-menu" layout="block">


        <m:main id="tns-admin-menu">

            <m:item label="Main" outcome="/admin/index"/>

            <!-- transfer dropdown -->
            <m:dropdown label="#{messages['menu.transfer.label']}">
                <m:group label="#{messages['menu.transfer.location.label']}">
                    <m:item label="#{messages['menu.transfer.location.country.list']}"
                            outcome="/admin/location/country/country-list"/>
                    <m:item label="#{messages['menu.transfer.location.city.list']}"
                            outcome="/admin/location/city/city-list"/>
                    <m:item label="#{messages['menu.transfer.location.point.list']}"
                            outcome="/admin/location/point/point-list"/>
                    <m:item label="#{messages['menu.transfer.location.transfer.list']}"
                            outcome="/admin/location/transfer/transfer-list"/>
                </m:group>
            </m:dropdown>

            <!-- Provider dropdown -->
            <m:dropdown label="#{messages['menu.provider.label']}">
                <m:group label="#{messages['menu.provider.provider.label']}">
                    <m:item label="#{messages['menu.provider.provider.list']}"
                            outcome="/admin/provider/provider-list"/>
                </m:group>
            </m:dropdown>

            <!-- car dropdown -->
            <m:dropdown label="#{messages['menu.car.label']}">
                <m:group label="#{messages['menu.car.car.label']}">
                    <m:item label="#{messages['menu.car.carType.list']}"
                            outcome="/admin/car/carType/carType-list"/>

                </m:group>
            </m:dropdown>

            <!-- agency dropdown -->
            <m:dropdown label="#{messages['menu.agency.label']}">
                <m:group label="#{messages['menu.agency.agency.label']}">
                    <m:item label="#{messages['menu.agency.agency.list']}"
                            outcome="/admin/agency/agency-list"/>
                    <m:item label="#{messages['menu.agency.discountGroup.list']}"
                            outcome="/admin/agency/discountGroup/discountGroup-list"/>
                </m:group>
            </m:dropdown>

            <!-- agency dropdown -->
            <m:dropdown label="#{messages['menu.invoice.label']}">
                <m:group label="#{messages['menu.invoice.label']}">
                    <m:item label="#{messages['menu.invoice.list']}"
                            outcome="/admin/invoice/invoice-list"/>
                </m:group>
            </m:dropdown>

            <!-- Settings dropdown -->
            <m:dropdown label="#{messages['menu.settings.label']}">
                <m:group label="#{messages['menu.settings.userManagement.label']}">
                    <m:item label="#{messages['menu.settings.userManagement.user.list']}"
                            outcome="/admin/auth/user/user-list"/>
                    <m:item label="#{messages['menu.settings.userManagement.role.list']}"
                            outcome="/admin/auth/role/role-list"/>
                    <m:item label="#{messages['menu.settings.userManagement.privilege.list']}"
                            outcome="/admin/auth/privilege/privilege-list"/>
                </m:group>

                <m:group label="#{messages['menu.settings.i18n.label']}">
                    <m:item label="#{messages['menu.settings.i18n.language.list']}"
                            outcome="/admin/i18n/language/language-list"/>
                    <m:item label="#{messages['menu.settings.i18n.keyword.list']}"
                            outcome="/admin/i18n/keyword/keyword-list"/>
                    <m:item label="#{messages['menu.settings.i18n.translate.list']}"
                            outcome="/admin/i18n/translate/translate-list"/>
                </m:group>

                <m:group label="#{messages['menu.settings.currency.label']}">
                    <m:item label="#{messages['menu.settings.currency.type.list']}"
                            outcome="/admin/currency/type/currency-type-list"/>
                    <m:item label="#{messages['menu.settings.currency.value.list']}"
                            outcome="/admin/currency/value/currency-value-list"/>
                </m:group>

            </m:dropdown>

        </m:main>

    </a:outputPanel>
</ui:fragment>