<a:outputPanel xmlns="http://www.w3.org/1999/xhtml"
               xmlns:a="http://richfaces.org/a4j"
               xmlns:ui="http://java.sun.com/jsf/facelets"
               rendered="#{objectList.pageSize gt 0}" style="text-align: center"
               layout="block">

    <ul class="pagination pagination-sm pagination-centered">
        <li>
            <a:commandLink action="#{objectList.jumpToPage(0)}" render="#{renderId}" onclick="isEdited()">
                <span class="glyphicon glyphicon-fast-backward"/>
            </a:commandLink>
        </li>
        <li>
            <a:commandLink action="#{objectList.previous()}" render="#{renderId}" onclick="isEdited()">
                <span class="glyphicon glyphicon-backward"/>
            </a:commandLink>
        </li>

        <ui:repeat var="page" value="#{objectList.pageNums}">
            <li class="#{page.pageNum == objectList.currentPage ? 'active' : ''}">
                <a:commandLink action="#{objectList.jumpToPage(page.pageNum)}" onclick="isEdited()"
                               render="#{renderId}" value="#{page.label}"/>
            </li>
        </ui:repeat>

        <li>
            <a:commandLink action="#{objectList.next()}" render="#{renderId}" onclick="isEdited()">
                <span class="glyphicon glyphicon-forward"/>
            </a:commandLink>
        </li>
        <li>
            <a:commandLink action="#{objectList.jumpToPage(objectList.getPageSize()-1)}" render="#{renderId}"
                           onclick="isEdited()">
                <span class="glyphicon glyphicon-fast-forward"/>
            </a:commandLink>
        </li>
    </ul>

</a:outputPanel>
