<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{carTypeEditSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:event listener="#{carTypeEditSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.car.carType.edit.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:input compId="carTypeId" label="#{messages['admin.car.carType.code']}"
                                value="#{carTypeEditSupport.instance.code.value}"/>
                    <orca:input compId="carTypeName" label="#{messages['admin.car.carType.name']}"
                                value="#{carTypeEditSupport.instance.name}"/>
                    <orca:input compId="carTypeBrand" label="#{messages['admin.car.carType.brand']}"
                                value="#{carTypeEditSupport.instance.brand}"/>
                    <orca:yearInput compId="carTypeAge" label="#{messages['admin.car.carType.modelYear']}"
                                    value="#{carTypeEditSupport.instance.modelYear}"/>
                </div>
                <div class="col-md-6">
                    <orca:select compId="carTypeShapeSelect" label="#{messages['admin.car.carType.shape']}"
                                 value="#{carTypeEditSupport.instance.shape}"
                                 items="#{carTypeEditSupport.carShapes}" itemVar="shape"
                                 itemLabel="#{messages[shape.message]}"
                                 itemValue="#{shape}"/>
                    <orca:input compId="carTypePax" label="#{messages['admin.car.carType.pax']}"
                                value="#{carTypeEditSupport.instance.pax}"/>
                    <orca:input compId="carTypeTrunkSize" label="#{messages['admin.car.carType.trunkSize']}"
                                value="#{carTypeEditSupport.instance.trunkSize}"/>
                    <orca:inputArea compId="carTypeDescription" label="#{messages['admin.car.carType.description']}"
                                    value="#{carTypeEditSupport.instance.description}" />
                </div>
            </div>
            <div class="form-actions">
                <a:commandLink styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{carTypeEditSupport.navToBack()}">
                    <span class="glyphicon glyphicon-arrow-left"/>
                    <h:outputText value=" #{messages['global.button.cancel']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.save']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{carTypeEditSupport.persist()}"
                               rendered="#{!carTypeEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.save']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.update']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{carTypeEditSupport.update()}"
                               rendered="#{carTypeEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.update']}"/>
                </a:commandLink>
            </div>
        </h:form>


    </ui:define>


</ui:composition>