<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{carTypeListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.car.carType.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.car.carType.code']}"
                                  value="#{carTypeListSupport.params.code}"/>
                <orca:searchInput label="#{messages['admin.car.carType.name']}"
                                  value="#{carTypeListSupport.params.name}"/>
                <orca:searchInput label="#{messages['admin.car.carType.pax']}"
                                  value="#{carTypeListSupport.params.pax}"/>
                <orca:searchInput label="#{messages['admin.car.carType.trunkSize']}"
                                  value="#{carTypeListSupport.params.trunkSize}"/>
                <orca:searchInput label="#{messages['admin.car.carType.brand']}"
                                  value="#{carTypeListSupport.params.brand}"/>
                <orca:searchYearInput compId="yearInput" label="#{messages['admin.car.carType.modelYear']}"
                                      value="#{carTypeListSupport.params.modelYear}"/>
                <orca:searchAction search="#{carTypeListSupport.search()}" reset="#{carTypeListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{carTypeListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="carTypeListPanel" layout="block" styleClass="table-responsive">
                <rich:dataTable var="carType" value="#{carTypeListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="carTypeListPanel"
                                                  columnName="#{messages['admin.car.carType.code']}"
                                                  objectList="#{carTypeListSupport}"
                                                  column="carType.code.value"/>
                        </f:facet>
                        #{carType.code}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="carTypeListPanel"
                                                  columnName="#{messages['admin.car.carType.name']}"
                                                  objectList="#{carTypeListSupport}"
                                                  column="carType.name"/>
                        </f:facet>
                        #{carType.name}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="carTypeListPanel"
                                                  columnName="#{messages['admin.car.carType.pax']}"
                                                  objectList="#{carTypeListSupport}"
                                                  column="carType.pax"/>
                        </f:facet>
                        #{carType.pax}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="carTypeListPanel"
                                                  columnName="#{messages['admin.car.carType.trunkSize']}"
                                                  objectList="#{carTypeListSupport}"
                                                  column="carType.trunkSize"/>
                        </f:facet>
                        #{carType.trunkSize}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="carTypeListPanel"
                                                  columnName="#{messages['admin.car.carType.shape']}"
                                                  objectList="#{carTypeListSupport}"
                                                  column="carType.shape"/>
                        </f:facet>
                        #{messages[carType.shape.message]}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="carTypeListPanel"
                                                  columnName="#{messages['admin.car.carType.brand']}"
                                                  objectList="#{carTypeListSupport}"
                                                  column="carType.brand"/>
                        </f:facet>
                        #{carType.brand}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="carTypeListPanel"
                                                  columnName="#{messages['admin.car.carType.modelYear']}"
                                                  objectList="#{carTypeListSupport}"
                                                  column="carType.modelYear"/>
                        </f:facet>
                        #{carType.modelYear}
                    </rich:column>

                    <rich:column style="text-align: right">
                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{carTypeListSupport.navToView(carType)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{carTypeListSupport}" renderId="carTypeListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{carTypeListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
