<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{carTypeViewSupport.instanceId}">
            <f:converter converterId="javax.faces.Long"/>
        </f:viewParam>
        <f:event type="preRenderView" listener="#{carTypeViewSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">#{messages['admin.car.carType.view.title']}</ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:output id="carTypeId" label="#{messages['admin.car.carType.code']}"
                                 value="#{carTypeViewSupport.instance.code.value}"/>
                    <orca:output id="carTypeName" label="#{messages['admin.car.carType.name']}"
                                 value="#{carTypeViewSupport.instance.name}"/>
                    <orca:output id="carTypeBrand" label="#{messages['admin.car.carType.brand']}"
                                 value="#{carTypeViewSupport.instance.brand}"/>
                    <orca:output id="carTypeAge" label="#{messages['admin.car.carType.modelYear']}"
                                 value="#{carTypeViewSupport.instance.modelYear}"/>
                </div>
                <div class="col-md-6">
                    <orca:output id="carTypeShape" label="#{messages['admin.car.carType.shape']}"
                                 value="#{messages[carTypeViewSupport.instance.shape.message]}"/>
                    <orca:output id="carTypePax" label="#{messages['admin.car.carType.pax']}"
                                 value="#{carTypeViewSupport.instance.pax}"/>
                    <orca:output id="carTypeTrunkSize" label="#{messages['admin.car.carType.trunkSize']}"
                                 value="#{carTypeViewSupport.instance.trunkSize}"/>
                    <orca:output label="#{messages['admin.car.carType.description']}"
                                 value="#{carTypeViewSupport.instance.description}"/>
                </div>
            </div>

            <div class="form-actions">
                <a:commandLink title="#{messages['global.button.back']}"
                               styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{carTypeViewSupport.navToBack()}">
                    <span class="glyphicon glyphicon-backward"/>
                    <h:outputText value=" #{messages['global.button.back']}"/>
                </a:commandLink>

                <a:commandLink title="#{messages['global.button.edit']}"
                               styleClass="btn btn-primary btn-sm"
                               action="#{carTypeViewSupport.navToEdit()}">
                    <span class="glyphicon glyphicon-pencil"/>
                    <h:outputText value=" #{messages['global.button.edit']}"/>
                </a:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>