<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                template="/admin/admin-theme.xhtml">

    <ui:param name="activeMenu" value="user"/>

    <f:metadata>
        <f:viewParam name="id" value="#{userWizardSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:viewParam name="type" value="#{userWizardSupport.paramUserType}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:viewParam name="innerId" value="#{userWizardSupport.innerId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:event listener="#{userWizardSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.auth.user.wizard.title']}
    </ui:define>

    <ui:define name="page-actions">
        <ui:include src="/admin/components/wizard-state-info.xhtml">
            <ui:param name="wizardSupport" value="#{userWizardSupport}"/>
        </ui:include>
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">

            <a:outputPanel id="userWizardPanel" layout="block">
                <ui:fragment rendered="#{userWizardSupport.index eq 0}">
                    <ui:include src="inc/type-input.xhtml"/>
                </ui:fragment>
                <ui:fragment rendered="#{userWizardSupport.index eq 1}">
                    <ui:fragment rendered="#{userWizardSupport.systemUser}">
                        <ui:include src="inc/information-input-system.xhtml"/>
                    </ui:fragment>
                    <ui:fragment rendered="#{userWizardSupport.agencyUser}">
                        <ui:include src="inc/information-input-agency.xhtml"/>
                    </ui:fragment>
                    <ui:fragment rendered="#{userWizardSupport.providerUser}">
                        <ui:include src="inc/information-input-provider.xhtml"/>
                    </ui:fragment>
                    <ui:fragment rendered="#{userWizardSupport.customerUser}">
                        <ui:include src="inc/information-input-customer.xhtml"/>
                    </ui:fragment>
                </ui:fragment>

                <div class="form-actions">
                    <a:commandLink title="#{messages['global.button.cancel']}"
                                   styleClass="btn btn-default btn-sm" immediate="true"
                                   action="#{userWizardSupport.cancel()}">
                        <span class="glyphicon glyphicon-backward"/>
                        <h:outputText value=" #{messages['global.button.cancel']}"/>
                    </a:commandLink>

                    <a:commandLink title="#{messages['global.button.previous']}"
                                   styleClass="btn btn-danger btn-sm" execute="@form"
                                   render="userWizardPanel, wizardStateInfoPanel"
                                   rendered="#{!userWizardSupport.firstState}"
                                   action="#{userWizardSupport.previous()}">
                        <span class="glyphicon glyphicon-arrow-left"/>
                        <h:outputText value=" #{messages['global.button.previous']}"/>
                    </a:commandLink>

                    <a:commandLink title="#{messages['global.button.next']}"
                                   styleClass="btn btn-primary btn-sm" execute="@form"
                                   render="userWizardPanel, wizardStateInfoPanel"
                                   rendered="#{!userWizardSupport.lastState}"
                                   action="#{userWizardSupport.next()}">
                        <span class="glyphicon glyphicon-arrow-right"/>
                        <h:outputText value=" #{messages['global.button.next']}"/>
                    </a:commandLink>

                    <a:commandLink title="#{messages['global.button.save']}"
                                   styleClass="btn btn-primary btn-sm" execute="@form"
                                   render="userWizardPanel, wizardStateInfoPanel"
                                   rendered="#{userWizardSupport.lastState}"
                                   action="#{userWizardSupport.finish()}">
                        <span class="glyphicon glyphicon-floppy-disk"/>
                        <h:outputText
                                value=" #{userWizardSupport.managed ? messages['global.button.update'] : messages['global.button.save']}"/>
                    </a:commandLink>
                </div>
            </a:outputPanel>

        </h:form>
    </ui:define>

</ui:composition>
