<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{userViewSupport.instanceId}">
            <f:converter converterId="javax.faces.Long"/>
        </f:viewParam>
        <f:event type="preRenderView" listener="#{userViewSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">#{messages['admin.auth.user.view.title']}</ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:output label="#{messages['admin.auth.user.userType']}" value="#{messages[userViewSupport.userType.message]}"/>
                    <orca:output label="#{messages['admin.auth.user.id']}" value="#{userViewSupport.instance.id}"/>
                    <orca:output label="#{messages['admin.auth.user.name']}" value="#{userViewSupport.instance.name}"/>
                    <orca:output label="#{messages['admin.auth.user.surname']}" value="#{userViewSupport.instance.surname}"/>
                    <orca:output label="#{messages['admin.auth.user.email']}" value="#{userViewSupport.instance.email}"/>
                    <orca:output label="#{messages['admin.auth.user.gender']}" value="#{messages[userViewSupport.instance.gender.message]}"/>
                    <orca:output label="#{messages['admin.auth.user.roleName']}" value="#{userViewSupport.instance.role.name}"/>
                    <orca:output label="#{messages['admin.auth.user.description']}"
                                 value="#{userViewSupport.instance.description}"/>
                </div>
            </div>

            <div class="form-actions">
                <a:commandLink title="#{messages['global.button.back']}"
                               styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{userViewSupport.navToBack()}">
                    <span class="glyphicon glyphicon-backward"/>
                    <h:outputText value=" #{messages['global.button.back']}"/>
                </a:commandLink>

                <a:commandLink title="#{messages['global.button.edit']}"
                               styleClass="btn btn-primary btn-sm"
                               action="#{userViewSupport.navToEdit()}">
                    <span class="glyphicon glyphicon-upload"/>
                    <h:outputText value=" #{messages['global.button.edit']}"/>
                </a:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>