<h:form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:orca="http://java.sun.com/jsf/composite/orca"
        xmlns:a="http://richfaces.org/a4j"
        xmlns:f="http://java.sun.com/jsf/core" xmlns:rich="http://java.sun.com/jsf/html">

    <orca:modal compId="transferPriceSelectorModal" title="#{messages['transferPriceSelector.component.title']}"
                size=" modal-lg">
        <f:facet name="content">
            <a:outputPanel id="transferPriceSelectorModalListPanel" layout="block" styleClass="table-responsive">
                <rich:dataTable var="price" value="#{transferPriceSelectorComponent.priceList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <a:commandLink styleClass="btn #{price.selected ? 'btn-danger' : 'btn-default'} btn-sm"
                                       action="#{transferPriceSelectorComponent.priceClickAction(price)}"
                                       render="transferPriceSelectorModalListPanel">
                            <span class="glyphicon #{price.selected ? 'glyphicon glyphicon-ok-sign' : 'glyphicon glyphicon-ok-circle'}"/>
                        </a:commandLink>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{messages['transferPriceSelector.component.car']}</f:facet>
                        <h:outputText value="#{price.instance.carType.name}"/>
                        <f:facet name="footer">
                            <h:outputText value="#{messages['transferPriceSelector.component.total']}"
                                          style="font-weight: bold"/>
                        </f:facet>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{messages['transferPriceSelector.component.modelYear']}</f:facet>
                        <h:outputText value="#{price.instance.carType.modelYear}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{messages['transferPriceSelector.component.carType']}</f:facet>
                        <h:outputText value="#{messages[price.instance.carType.shape.message]}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{messages['transferPriceSelector.component.pax']}</f:facet>
                        <h:outputText value="#{price.instance.carType.pax}"/>
                        <f:facet name="footer">
                            <h:outputText value="#{transferPriceSelectorComponent.totalPax}" style="font-weight: bold"/>
                        </f:facet>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{messages['transferPriceSelector.component.price']}</f:facet>
                        <h:outputText value="#{price.instance.money.converted}"/>
                        <f:facet name="footer">
                            <h:outputText value="#{transferPriceSelectorComponent.totalMoney.converted}"
                                          style="font-weight: bold"/>
                        </f:facet>
                    </rich:column>
                </rich:dataTable>
            </a:outputPanel>
        </f:facet>
        <f:facet name="footer">
            <a:commandLink styleClass="btn btn-danger btn-sm" action="#{support[method]}" render="#{render}"
                           title="#{messages['global.button.add']}"
                           oncomplete="$('#transferPriceSelectorModal').modal('hide')">
                <span class="glyphicon glyphicon-plus"/>
                <h:outputText value="#{messages['global.button.add']}"/>
            </a:commandLink>
        </f:facet>
    </orca:modal>

</h:form>