<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:orca="http://java.sun.com/jsf/composite/orca"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title><ui:insert name="title"/> - Transfer Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</h:head>
<h:body>
    <h:outputStylesheet library="bootstrap/css" name="bootstrap.css"/>
    <h:outputStylesheet library="front" name="front-style.css"/>
    <h:outputStylesheet library="front" name="front-bootstrap.css"/>
    <h:outputStylesheet library="nprogress" name="nprogress.css"/>
    <h:outputStylesheet library="datepicker" name="datepicker3.css"/>
    <h:outputStylesheet library="timepicker" name="jquery-clockpicker.css"/>
    <h:outputStylesheet library="timepicker" name="bootstrap-clockpicker.css"/>

    <div id="th-front" class="container">
        <div id="th-front-theme">

            <div id="th-front-header">
                <div id="th-front-logo">

                </div>
                <a:outputPanel layout="block" id="th-front-panel">
                    <div id="th-front-panel-top-menu">
                        <h:link outcome="/index">
                            <span class="glyphicon glyphicon-user"/>
                            <span>Login</span>
                        </h:link>
                        <span class="menu-sperator"> | </span>
                        <h:link outcome="/front/auth/register">
                            <span class="glyphicon glyphicon-fire"/>
                            <span>Register</span>
                        </h:link>
                        <span class="menu-sperator"> | </span>
                        <h:link outcome="/front/cart/front-end-cart">
                            <span class="glyphicon glyphicon-shopping-cart"/>
                            <span>#{messages['front.cart.view']} (#{frontEndCart.count})</span>
                        </h:link>
                    </div>
                    <div style="text-align: right">
                        <div style="margin-bottom: 10px;">
                            <ui:include src="/front/components/front-top-settings-menu.xhtml"/>
                        </div>
                        <div id="th-front-panel-chart">
                            <h:link outcome="/front/cart/front-end-cart">
                                <span class="glyphicon glyphicon-shopping-cart"/>
                                <span>#{frontEndCart.count} Items - #{frontEndCart.total.converted}</span>
                            </h:link>
                        </div>

                    </div>
                </a:outputPanel>

                <div class="clearfix"></div>
            </div>

            <div id="th-front-menu">
                <ui:include src="/front/components/front-menu.xhtml">
                    <ui:param name="activeMenu" value="#{activeMenu}"/>
                </ui:include>
            </div>

            <a:status id="ajaxStatusControl" onstart="startAjaxAction()" onstop="initDefaultTheme()"
                      onerror="ajaxErrorFunction(event)"/>

            <div id="th-front-content">
                <div id="-th-front-alert-block">
                    <a:outputPanel id="globalMessage" layout="block" ajaxRendered="true">
                        <orca:globalMessages/>
                    </a:outputPanel>
                </div>

                <div class="page-header -th-content-title">
                    <div style="float: left;">
                        <h4>
                            <ui:insert name="title-icon"/>
                            <ui:insert name="title"/>
                        </h4>
                    </div>
                    <div style="float: right;">
                        <div class="-th-page-actions">
                            <ui:insert name="page-actions"/>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div>
                    <ui:insert name="content"/>
                </div>
            </div>
        </div>
        <div id="th-front-footer">
            <div class="row">
                <div class="col-md-4">
                    <h5>#{messages['front.index.contactUs']}</h5>
                    <ul>
                        <li><span class="glyphicon glyphicon-earphone"/> +90 212 4374476</li>
                        <li><span class="glyphicon glyphicon-print"/> +90 212 4374476</li>
                        <li><span class="glyphicon glyphicon-envelope"/> info@orcateam.org</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>#{messages['front.index.about']}</h5>
                </div>
                <div class="col-md-4">
                    <h5>#{messages['front.index.account']}</h5>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-md-4">
                    <h:graphicImage library="front" name="visa-48.png" styleClass="social-icon"/>
                    <h:graphicImage library="front" name="master_card-48.png" styleClass="social-icon"/>
                    <h:graphicImage library="front" name="paypal-48.png" styleClass="social-icon"/>
                    <h:graphicImage library="front" name="google_wallet-48.png" styleClass="social-icon"/>
                </div>
                <div class="col-md-4" style="text-align: center">
                    Orca Team <br/> <a href="http://orcateam.org">http://orcateam.org</a>
                </div>
                <div class="col-md-4" style="text-align: right">
                    <h:graphicImage library="front" name="twitter-32.png" styleClass="social-icon"/>
                    <h:graphicImage library="front" name="facebook-32.png" styleClass="social-icon"/>
                    <h:graphicImage library="front" name="instagram-32.png" styleClass="social-icon"/>
                    <h:graphicImage library="front" name="google-plus-32.png" styleClass="social-icon"/>
                    <h:graphicImage library="front" name="linkedin-32.png" styleClass="social-icon"/>
                </div>
            </div>
        </div>
    </div>

    <h:outputScript library="bootstrap/js" name="jquery.min.js"/>
    <h:outputScript library="bootstrap/js" name="bootstrap.js"/>
    <h:outputScript library="datepicker" name="bootstrap-datepicker.js"/>
    <h:outputScript library="nprogress" name="nprogress.js"/>
    <h:outputScript library="mask" name="jquery.mask.js"/>
    <h:outputScript library="js" name="tranet.js"/>
    <h:outputScript library="timepicker" name="bootstrap-clockpicker.js"/>
    <h:outputScript library="timepicker" name="jquery-clockpicker.js"/>

</h:body>
</html>





