<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                xmlns:rich="http://richfaces.org/rich"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{agencyViewSupport.instanceId}">
            <f:converter converterId="javax.faces.Long"/>
        </f:viewParam>
        <f:event type="preRenderView" listener="#{agencyViewSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">#{messages['admin.agency.agency.view.title']}</ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:output label="#{messages['admin.agency.agency.code']}"
                                 value="#{agencyViewSupport.instance.code}"/>
                    <orca:output label="#{messages['admin.agency.agency.name']}"
                                 value="#{agencyViewSupport.instance.name}"/>
                    <orca:output label="#{messages['admin.agency.agency.description']}"
                                 value="#{agencyViewSupport.instance.description}"/>
                </div>
                <div class="col-md-6">
                    <orca:output label="#{messages['admin.agency.agency.paymentType']}"
                                 value="#{messages[agencyViewSupport.instance.paymentType.message]}"/>
                    <orca:output label="#{messages['admin.agency.agency.balance']}"
                                 value="#{agencyViewSupport.instance.money.value}"/>
                    <orca:output label="#{messages['admin.agency.agency.currencyType']}"
                                 value="#{agencyViewSupport.instance.money.currencyType.code}"/>
                    <orca:output label="#{messages['admin.agency.agency.discountGroup']}"
                                 value="#{agencyViewSupport.instance.discountGroup.code}"/>
                </div>
            </div>

            <h:panelGroup layout="block" styleClass="row">
                <rich:tabPanel activeItem="#{agencyViewSupport.selectedTab}">
                    <rich:tab>
                        <f:facet name="header">#{messages['admin.agency.agency.tab.balanceList']}</f:facet>

                        <ui:include src="inc/tab-view/balance-list.xhtml"/>
                    </rich:tab>
                    <rich:tab>
                        <f:facet name="header">#{messages['admin.agency.agency.tab.userList']}</f:facet>

                        <ui:include src="inc/tab-view/user-list.xhtml"/>
                    </rich:tab>
                </rich:tabPanel>
            </h:panelGroup>

            <div class="form-actions">
                <a:commandLink title="#{messages['global.button.back']}"
                               styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{agencyViewSupport.navToBack()}">
                    <span class="glyphicon glyphicon-backward"/>
                    <h:outputText value=" #{messages['global.button.back']}"/>
                </a:commandLink>

                <a:commandLink title="#{messages['global.button.edit']}"
                               styleClass="btn btn-primary btn-sm"
                               action="#{agencyViewSupport.navToEdit()}">
                    <span class="glyphicon glyphicon-pencil"/>
                    <h:outputText value=" #{messages['global.button.edit']}"/>
                </a:commandLink>
            </div>

        </h:form>
    </ui:define>

</ui:composition>