<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                xmlns:rich="http://richfaces.org/rich"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{agencyEditSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:event listener="#{agencyEditSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.agency.agency.edit.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:input compId="agencyCode" label="#{messages['admin.agency.agency.code']}"
                                value="#{agencyEditSupport.instance.code.value}"/>
                    <orca:input compId="agencyName" label="#{messages['admin.agency.agency.name']}"
                                value="#{agencyEditSupport.instance.name}"/>
                    <orca:select compId="paymentTypeSelect" label="#{messages['admin.agency.agency.paymentType']}"
                                 value="#{agencyEditSupport.instance.paymentType}"
                                 items="#{agencyEditSupport.paymentTypeList}" itemVar="paymentType"
                                 itemLabel="#{messages[paymentType.message]}"
                                 itemValue="#{paymentType}"/>
                    <orca:entitySelect compId="currencyTypeSelect"
                                       label="#{messages['admin.agency.agency.currencyType']}"
                                       value="#{agencyEditSupport.instance.money.currencyType}"
                                       items="#{agencyEditSupport.currencyTypeList}" itemVar="currencyType"
                                       itemLabel="#{currencyType.code}"
                                       itemValue="#{currencyType}"/>
                </div>
                <div class="col-md-6">

                    <orca:input compId="agencyName" label="#{messages['admin.agency.agency.balance']}"
                                value="#{agencyEditSupport.instance.money.value}" required="false" disable="true"/>
                    <orca:entitySelect compId="discountGroupSelect"
                                       required="false"
                                       label="#{messages['admin.agency.agency.discountGroup']}"
                                       value="#{agencyEditSupport.instance.discountGroup}"
                                       items="#{agencyEditSupport.discountGroupList}" itemVar="discountGroup"
                                       itemLabel="#{discountGroup.code}"
                                       itemValue="#{discountGroup}"/>
                    <orca:inputArea compId="agencyDescription"
                                    label="#{messages['admin.agency.agency.description']}"
                                    value="#{agencyEditSupport.instance.description}"/>
                </div>
            </div>

            <h:panelGroup layout="block" styleClass="row"
                          rendered="#{agencyEditSupport.managed}">
                <rich:tabPanel activeItem="#{agencyEditSupport.selectedTab}">
                    <rich:tab>
                        <f:facet name="header">#{messages['admin.agency.agency.tab.balanceList']}</f:facet>

                        <ui:include src="inc/tab-edit/balance-list.xhtml"/>
                    </rich:tab>
                    <rich:tab>
                        <f:facet name="header">#{messages['admin.agency.agency.tab.userList']}</f:facet>

                        <ui:include src="inc/tab-edit/user-list.xhtml"/>
                    </rich:tab>
                </rich:tabPanel>
            </h:panelGroup>

            <div class="form-actions">
                <a:commandLink styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{agencyEditSupport.navToBack()}">
                    <span class="glyphicon glyphicon-arrow-left"/>
                    <h:outputText value=" #{messages['global.button.cancel']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.save']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{agencyEditSupport.persist()}"
                               rendered="#{!agencyEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.save']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.update']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{agencyEditSupport.update()}"
                               rendered="#{agencyEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.update']}"/>
                </a:commandLink>
            </div>

        </h:form>

    </ui:define>
</ui:composition>