<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{agencyListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.agency.agency.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.agency.agency.code']}"
                                  value="#{agencyListSupport.params.code}"/>
                <orca:searchInput label="#{messages['admin.agency.agency.name']}"
                                  value="#{agencyListSupport.params.name}"/>
                <orca:searchSelect items="#{agencyListSupport.paymentTypes}" itemVar="paymentType"
                                   value="#{agencyListSupport.params.paymentType}" compId="paymentTypeSelect"
                                   itemValue="#{paymentType}"
                                   itemLabel="#{messages[paymentType.message]}"
                                   label="#{messages['admin.agency.agency.paymentType']}"/>
                <orca:searchEntitySelect items="#{agencyListSupport.discountGroupList}" itemVar="discountGroup"
                                         value="#{agencyListSupport.params.discountGroup}" compId="discountGroupSelect"
                                         itemValue="#{discountGroup}"
                                         itemLabel="#{discountGroup.code}"
                                         label="#{messages['admin.agency.agency.discountGroup']}"/>

                <orca:searchAction search="#{agencyListSupport.search()}" reset="#{agencyListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{agencyListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="agencyListPanel" layout="block">
                <rich:dataTable var="agency" value="#{agencyListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="agencyListPanel"
                                                  columnName="#{messages['admin.agency.agency.code']}"
                                                  objectList="#{agencyListSupport}"
                                                  column="agency.code.value"/>
                        </f:facet>
                        <h:outputText value="#{agency.code.value}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="agencyListPanel"
                                                  columnName="#{messages['admin.agency.agency.name']}"
                                                  objectList="#{agencyListSupport}"
                                                  column="agency.name"/>
                        </f:facet>
                        <h:outputText value="#{agency.name}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="agencyListPanel"
                                                  columnName="#{messages['admin.agency.agency.balance']}"
                                                  objectList="#{agencyListSupport}"
                                                  column="agency.money.value"/>
                        </f:facet>
                        <h:outputText value="#{agency.money.value}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="agencyListPanel"
                                                  columnName="#{messages['admin.agency.agency.currencyType']}"
                                                  objectList="#{agencyListSupport}"
                                                  column="agency.money.currencyType.code"/>
                        </f:facet>
                        <h:outputText value="#{agency.money.currencyType.code}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="agencyListPanel"
                                                  columnName="#{messages['admin.agency.agency.paymentType']}"
                                                  objectList="#{agencyListSupport}"
                                                  column="agency.paymentType"/>
                        </f:facet>
                        <h:outputText value="#{messages[agency.paymentType.message]}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="agencyListPanel"
                                                  columnName="#{messages['admin.agency.agency.discountGroup']}"
                                                  objectList="#{agencyListSupport}"
                                                  column="agency.discountGroup.code"/>
                        </f:facet>
                        <h:outputText value="#{agency.discountGroup.code}"/>
                    </rich:column>

                    <rich:column style="text-align: right">
                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{agencyListSupport.navToView(agency)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{agencyListSupport}" renderId="agencyListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{agencyListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
