<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:a="http://richfaces.org/a4j"
              xmlns:orca="http://java.sun.com/jsf/composite/orca"
              xmlns:f="http://java.sun.com/jsf/core">

    <orca:input compId="no"
                label="#{messages['admin.invoice.wizard.no']}"
                value="#{invoiceWizardSupport.instance.no}"/>
    <orca:dateInput compId="invoiceDate"
                    label="#{messages['admin.invoice.wizard.date']}"
                    value="#{invoiceWizardSupport.instance.date}"/>
    <orca:input compId="moneyValue"
                label="#{messages['admin.invoice.wizard.money.value']}"
                value="#{invoiceWizardSupport.instance.money.value}"/>
    <orca:entitySelect compId="currencyTypeSelect"
                 label="#{messages['admin.invoice.wizard.money.currencyType']}"
                 value="#{invoiceWizardSupport.instance.money.currencyType}"
                 items="#{invoiceWizardSupport.currencyTypeList}" itemVar="currencyType"
                 itemLabel="#{currencyType.name}"
                 itemValue="#{currencyType}"/>

</h:panelGroup>