<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:a="http://richfaces.org/a4j"
              xmlns:orca="http://java.sun.com/jsf/composite/orca"
              xmlns:f="http://java.sun.com/jsf/core"
              xmlns:ui="http://java.sun.com/jsf/facelets">

    <div class="row">
        <div class="col-lg-6">
            <orca:entitySelect compId="agencySelect"
                         label="#{messages['admin.invoice.wizard.agency']}"
                         value="#{invoiceWizardSupport.instance.agency}"
                         items="#{invoiceWizardSupport.agencyList}" itemVar="agency"
                         itemLabel="#{agency.name}"
                         itemValue="#{agency}"/>

            <ui:include src="information-input-common.xhtml"/>
        </div>
    </div>

</h:panelGroup>