<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:a="http://richfaces.org/a4j"
              xmlns:orca="http://java.sun.com/jsf/composite/orca"
              xmlns:f="http://java.sun.com/jsf/core">

    <div class="row">
        <div class="col-lg-6">
            <orca:select compId="invoiceTypeSelect"
                         disable="#{invoiceWizardSupport.managed}"
                         label="#{messages['admin.invoice.wizard.invoiceType']}"
                         value="#{invoiceWizardSupport.invoiceType}"
                         items="#{invoiceWizardSupport.invoiceTypeList}" itemVar="invoiceType"
                         itemLabel="#{messages[invoiceType.message]}"
                         itemValue="#{invoiceType}"/>
        </div>
    </div>

</h:panelGroup>