<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="compId" default="viewId"/>
    <composite:attribute name="value" required="true"/>
    <composite:attribute name="label"/>

    <composite:attribute name="required" default="true"/>
    <composite:attribute name="visible" default="#{true}"/>
    <composite:attribute name="disable" default="#{false}"/>
</composite:interface>

<composite:implementation>
    <h:panelGroup id="#{cc.attrs.compId}" layout="block">
        <h:panelGroup layout="block" class="row" style="margin-bottom: 5px" rendered="#{cc.attrs.visible}">
            <div class="col-md-5" style="font-weight: bold">
                <h:outputText value="#{cc.attrs.label}"/>
            </div>
            <div class="col-md-6">
                <h:outputText value="#{cc.attrs.value}" converter="dateConverter"/>
            </div>
        </h:panelGroup>
    </h:panelGroup>
</composite:implementation>

</html>