<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="label"/>
    <composite:attribute name="visible" default="#{true}"/>
</composite:interface>

<composite:implementation>
    <h:panelGroup layout="block" class="row" style="margin-bottom: 5px" rendered="#{cc.attrs.visible}">
        <label class="col-md-5 control-label">
            <h:outputText value="#{cc.attrs.label}"/>
        </label>

        <div class="col-md-6">
            <composite:insertChildren/>
        </div>
    </h:panelGroup>
</composite:implementation>

</html>