<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite" xmlns:h="http://java.sun.com/jsf/html">

<composite:interface>
</composite:interface>

<composite:implementation>
    <ui:repeat var="message" value="#{globalMessageManager.toList()}">
        <div class="#{message.messageStyle}">
            <button type="button" class="close" data-dismiss="alert">
                <span class="glyphicon glyphicon-remove"/>
            </button>
            <h:outputText value="#{message.text}"/>
        </div>
    </ui:repeat>
</composite:implementation>

</html>