<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j">

<composite:interface>
    <composite:attribute name="compId" required="true"/>
    <composite:attribute name="visible" default="#{true}"/>
    <composite:attribute name="title" default="#{messages['global.label.dialog']}"/>
    <composite:attribute name="size" default=""/>

    <composite:facet name="content"/>
    <composite:facet name="footer"/>
</composite:interface>

<composite:implementation>
    <div id="#{cc.attrs.compId}" tabindex="-1" role="dialog" class="modal fade"
         aria-labelledby="#{cc.attrs.compId}-label" aria-hidden="true">
        <div class="modal-dialog #{cc.attrs.size}">
            <a:outputPanel id="#{cc.attrs.compId}-content" layout="block" styleClass="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"/>
                    </button>
                    <h4 id="#{cc.attrs.compId}-label" class="modal-title"><h:outputText value="#{cc.attrs.title}"/></h4>
                </div>
                <div class="modal-body">
                    <composite:renderFacet name="content"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        <h:outputText value="#{messages['global.button.cancel']}"/>
                    </button>
                    <composite:renderFacet name="footer"/>
                </div>
            </a:outputPanel>
        </div>
    </div>
</composite:implementation>

</html>