<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="compId" required="true"/>
    <composite:attribute name="value" required="true"/>
    <composite:attribute name="label"/>
    <composite:attribute name="currency" required="true"/>

    <composite:attribute name="required" default="true"/>
    <composite:attribute name="visible" default="#{true}"/>
</composite:interface>

<composite:implementation>
    <a:outputPanel id="#{cc.attrs.compId}" layout="block">
        <a:outputPanel styleClass="row form-group" layout="block" rendered="#{cc.attrs.visible}">
            <div class="col-md-6">
                <h:outputText value="#{cc.attrs.value}"
                              converter="moneyConverter"
                              label="#{cc.attrs.label}"/>
                <h:outputText value=" #{cc.attrs.currency}"/>
                <h:message for="#{cc.attrs.compId}-input" style="color: red"/>
            </div>
        </a:outputPanel>
    </a:outputPanel>
</composite:implementation>

</html>