<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="compId" required="true"/>
    <composite:attribute name="value" required="true"/>
    <composite:attribute name="label"/>
    <composite:attribute name="currency" required="true"/>

    <composite:attribute name="required" default="true"/>
    <composite:attribute name="visible" default="#{true}"/>
    <composite:attribute name="disable" default="#{false}"/>
</composite:interface>

<composite:implementation>
    <a:outputPanel id="#{cc.attrs.compId}" layout="block">
        <a:outputPanel styleClass="row form-group" layout="block" rendered="#{cc.attrs.visible}">
            <div class="col-md-6">
                <h:inputText id="#{cc.attrs.compId}-input" value="#{cc.attrs.value}"
                             styleClass="form-control input-sm #{cc.attrs.compId}-input moneyInput"
                             converter="moneyConverter"
                             disabled="#{cc.attrs.disable}"
                             label="#{cc.attrs.label}"/>
                <h:message for="#{cc.attrs.compId}-input" style="color: red"/>
            </div>
        </a:outputPanel>
    </a:outputPanel>
</composite:implementation>

</html>