<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>

    <composite:attribute name="objectList" required="true"/>
    <composite:attribute name="renderId" required="true"/>

</composite:interface>

<composite:implementation>
    <ui:include src="/admin/components/pagination.xhtml">
        <ui:param name="objectList" value="#{cc.attrs.objectList}"/>
        <ui:param name="renderId" value="#{cc.attrs.renderId}"/>
    </ui:include>
</composite:implementation>

</html>