<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>

    <composite:attribute name="search" required="true" method-signature="void search()"/>
    <composite:attribute name="reset" required="true" method-signature="void reset()"/>

</composite:interface>

<composite:implementation>

    <div class="col-md-3">
        <div style="margin: 25px;">

        </div>
        <div class="btn-group">
            <h:commandLink action="#{cc.attrs.search}" styleClass="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-search"/>
                <h:outputText value=" #{messages['global.button.search']}"/>
            </h:commandLink>
            <h:commandLink action="#{cc.attrs.reset}" styleClass="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-refresh"/>
                <h:outputText value=" #{messages['global.button.reset']}"/>
            </h:commandLink>
        </div>
    </div>

</composite:implementation>

</html>