<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite" xmlns:f="http://java.sun.com/jsf/core">

<composite:interface>
    <composite:attribute name="label"/>
    <composite:attribute name="compId" required="true"/>
    <composite:attribute name="value" required="true"/>


    <composite:attribute name="items" required="true"/>
    <composite:attribute name="itemVar" required="true"/>
    <composite:attribute name="itemLabel" required="true"/>
    <composite:attribute name="itemValue" required="true"/>
    <composite:attribute name="label" required="true"/>
    <composite:attribute name="selectLabel" default="#{messages['global.label.all']}"/>
</composite:interface>

<composite:implementation>
    <h:panelGroup layout="block" class="col-md-2">
        <div style="font-weight: bold; padding: 3px 0px;">
            <h:outputText value="#{cc.attrs.label}"/>
        </div>
        <div>
            <h:selectOneMenu id="#{cc.attrs.compId}-input" value="#{cc.attrs.value}"
                             styleClass="form-control input-sm" disabled="#{cc.attrs.disable}"
                             label="#{cc.attrs.label}" converter="entityConverter">
                <f:selectItem itemLabel="#{cc.attrs.selectLabel}"/>
                <f:selectItems var="#{cc.attrs.itemVar}" itemLabel="#{cc.attrs.itemLabel}"
                               itemValue="#{cc.attrs.itemValue}" value="#{cc.attrs.items}"/>
            </h:selectOneMenu>
        </div>
    </h:panelGroup>
</composite:implementation>

</html>