<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="compId" required="true"/>
    <composite:attribute name="value" required="true"/>
    <composite:attribute name="label"/>

    <composite:attribute name="required" default="true"/>
    <composite:attribute name="visible" default="#{true}"/>
    <composite:attribute name="disable" default="#{false}"/>
</composite:interface>

<composite:implementation>
    <h:panelGroup layout="block" class="col-md-2">
        <div style="font-weight: bold; padding: 3px 0px;">
            <h:outputText value="#{cc.attrs.label}"/>
        </div>
        <div>
            <h:inputText id="#{cc.attrs.compId}-input" value="#{cc.attrs.value}"
                         styleClass="form-control input-sm datepicker #{cc.attrs.compId}-input"
                         converter="dateConverter"
                         rendered="#{not cc.attrs.disable}">
            </h:inputText>
            <ui:fragment rendered="#{not cc.attrs.disable}">
                    <span style="cursor: pointer" class="glyphicon glyphicon-calendar"
                          onclick="showDatePicker('.#{cc.attrs.compId}-input')"/>
            </ui:fragment>
            <h:outputText value="#{cc.attrs.value}" styleClass="form-control input-sm datepicker"
                          converter="dateConverter"
                          rendered="#{cc.attrs.disable}"/>
        </div>
    </h:panelGroup>
</composite:implementation>

</html>