<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>

    <composite:attribute name="label" required="true"/>
    <composite:attribute name="value" required="true"/>

    <composite:attribute name="styleClass" default="form-control input-sm"/>

</composite:interface>

<composite:implementation>
    <h:panelGroup layout="block" class="col-md-2">
        <div style="font-weight: bold; padding: 3px 0px;">
            <h:outputText value="#{cc.attrs.label}"/>
        </div>
        <div>
            <h:inputText styleClass="#{cc.attrs.styleClass}" value="#{cc.attrs.value}"/>
        </div>
    </h:panelGroup>
</composite:implementation>

</html>