<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="compId" required="true" default="id"/>
    <composite:attribute name="value" required="true"/>

    <composite:attribute name="required" default="false"/>
    <composite:attribute name="visible" default="#{true}"/>
    <composite:attribute name="disable" default="#{false}"/>
</composite:interface>

<composite:implementation>
    <a:outputPanel id="#{cc.attrs.compId}-singleInputPanel" layout="block">
        <h:inputText id="#{cc.attrs.compId}-singleInput" value="#{cc.attrs.value}"
                     styleClass="form-control input-sm" disabled="#{cc.attrs.disable}"
                     label="#{cc.attrs.label}">
        </h:inputText>
        <h:message for="#{cc.attrs.compId}-singleInput" style="color: red"/>
    </a:outputPanel>
</composite:implementation>

</html>