<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core">

<composite:interface>
    <composite:attribute name="compId" required="true" default="id"/>
    <composite:attribute name="value" required="true"/>

    <composite:attribute name="items" required="true"/>
    <composite:attribute name="itemVar" required="true"/>
    <composite:attribute name="itemLabel" required="true"/>
    <composite:attribute name="itemValue" required="true"/>
    <composite:attribute name="selectLabel" default="#{messages['global.label.selectPlease']}"/>


    <composite:attribute name="required" default="false"/>
    <composite:attribute name="visible" default="#{true}"/>
    <composite:attribute name="disable" default="#{false}"/>
</composite:interface>

<composite:implementation>
    <a:outputPanel id="#{cc.attrs.compId}-singleEntitySelectPanel" layout="block">
        <h:selectOneMenu value="#{cc.attrs.value}" id="#{cc.attrs.compId}-singleEntitySelect"
                         styleClass="form-control input-sm" disabled="#{cc.attrs.disable}"
                         label="#{cc.attrs.label}" converter="entityConverter">
            <f:selectItem itemLabel="#{cc.attrs.selectLabel}"/>
            <f:selectItems var="#{cc.attrs.itemVar}" itemLabel="#{cc.attrs.itemLabel}"
                           itemValue="#{cc.attrs.itemValue}" value="#{cc.attrs.items}"/>
        </h:selectOneMenu>
        <h:message for="#{cc.attrs.compId}-singleEntitySelect" style="color: red"/>
    </a:outputPanel>
</composite:implementation>

</html>