<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="objectList" required="true"/>
    <composite:attribute name="column" required="true"/>
    <composite:attribute name="renderId" required="true"/>
    <composite:attribute name="columnName" required="true"/>
</composite:interface>

<composite:implementation>
    <a:outputPanel layout="block">
        <div class="-th-df-table-column-header">
            <a:commandLink execute="@this"
                           action="#{cc.attrs.objectList.initOrderBy(cc.attrs.column)}"
                           render="#{cc.attrs.renderId}">
			<span>
                <a:outputPanel layout="inline" styleClass="glyphicon glyphicon-sort-by-alphabet"
                               rendered="#{cc.attrs.objectList.orderBy.name == cc.attrs.column and cc.attrs.objectList.orderBy.asc}"/>
                <a:outputPanel layout="inline" styleClass="glyphicon glyphicon-sort-by-alphabet-alt"
                               rendered="#{cc.attrs.objectList.orderBy.name == cc.attrs.column and !cc.attrs.objectList.orderBy.asc}"/>
                <h:outputText value="#{cc.attrs.columnName}" />
			</span>
            </a:commandLink>
        </div>
    </a:outputPanel>
</composite:implementation>

</html>
