<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                template="/admin/admin-theme.xhtml">

    <ui:param name="activeMenu" value="invoice"/>

    <f:metadata>
        <f:viewParam name="id" value="#{invoiceWizardSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:event listener="#{invoiceWizardSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.invoice.wizard.title']}
    </ui:define>

    <ui:define name="page-actions">
        <ui:include src="/admin/components/wizard-state-info.xhtml">
            <ui:param name="wizardSupport" value="#{invoiceWizardSupport}"/>
        </ui:include>
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">

            <a:outputPanel id="invoiceWizardPanel" layout="block">
                <ui:fragment rendered="#{invoiceWizardSupport.index eq 0}">
                    <ui:include src="inc/type-input.xhtml"/>
                </ui:fragment>
                <ui:fragment rendered="#{invoiceWizardSupport.index eq 1}">
                    <ui:fragment rendered="#{invoiceWizardSupport.agency}">
                        <ui:include src="inc/information-input-agency.xhtml"/>
                    </ui:fragment>
                    <ui:fragment rendered="#{invoiceWizardSupport.individual}">
                        <ui:include src="inc/information-input-customer.xhtml"/>
                    </ui:fragment>
                </ui:fragment>

                <div class="form-actions">
                    <a:commandLink title="#{messages['global.button.cancel']}"
                                   styleClass="btn btn-default btn-sm" immediate="true"
                                   action="#{invoiceWizardSupport.cancel()}">
                        <span class="glyphicon glyphicon-backward"/>
                        <h:outputText value=" #{messages['global.button.cancel']}"/>
                    </a:commandLink>

                    <a:commandLink title="#{messages['global.button.previous']}"
                                   styleClass="btn btn-danger btn-sm" execute="@form"
                                   render="invoiceWizardPanel, wizardStateInfoPanel"
                                   rendered="#{!invoiceWizardSupport.firstState}"
                                   action="#{invoiceWizardSupport.previous()}">
                        <span class="glyphicon glyphicon-arrow-left"/>
                        <h:outputText value=" #{messages['global.button.previous']}"/>
                    </a:commandLink>

                    <a:commandLink title="#{messages['global.button.next']}"
                                   styleClass="btn btn-primary btn-sm" execute="@form"
                                   render="invoiceWizardPanel, wizardStateInfoPanel"
                                   rendered="#{!invoiceWizardSupport.lastState}"
                                   action="#{invoiceWizardSupport.next()}">
                        <span class="glyphicon glyphicon-arrow-right"/>
                        <h:outputText value=" #{messages['global.button.next']}"/>
                    </a:commandLink>

                    <a:commandLink title="#{messages['global.button.save']}"
                                   styleClass="btn btn-primary btn-sm" execute="@form"
                                   render="invoiceWizardPanel, wizardStateInfoPanel"
                                   rendered="#{invoiceWizardSupport.lastState}"
                                   action="#{invoiceWizardSupport.finish()}">
                        <span class="glyphicon glyphicon-floppy-disk"/>
                        <h:outputText
                                value=" #{invoiceWizardSupport.managed ? messages['global.button.update'] : messages['global.button.save']}"/>
                    </a:commandLink>
                </div>
            </a:outputPanel>

        </h:form>
    </ui:define>

</ui:composition>
