<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{invoiceListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.invoice.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.invoice.no']}"
                                  value="#{invoiceListSupport.params.no}"/>
                <orca:searchDateInput compId="greater"
                                      label="#{messages['admin.invoice.dateGreater']}"
                                      value="#{invoiceListSupport.params.greaterThan}"/>
                <orca:searchDateInput compId="less"
                                      label="#{messages['admin.invoice.dateLess']}"
                                      value="#{invoiceListSupport.params.lessThan}"/>

                <orca:searchAction search="#{invoiceListSupport.search()}" reset="#{invoiceListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{invoiceListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="invoiceListPanel" layout="block">
                <rich:dataTable var="invoice" value="#{invoiceListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="invoiceListPanel"
                                                  columnName="#{messages['admin.invoice.no']}"
                                                  objectList="#{invoiceListSupport}"
                                                  column="invoice.no"/>
                        </f:facet>
                        <h:outputText value="#{invoice.no}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="invoiceListPanel"
                                                  columnName="#{messages['admin.invoice.date']}"
                                                  objectList="#{invoiceListSupport}"
                                                  column="invoice.date"/>
                        </f:facet>
                        <h:outputText value="#{invoice.date}" converter="dateConverter"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="invoiceListPanel"
                                                  columnName="#{messages['admin.invoice.value']}"
                                                  objectList="#{invoiceListSupport}"
                                                  column="invoice.money.value"/>
                        </f:facet>
                        <h:outputText value="#{invoice.money.value}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="invoiceListPanel"
                                                  columnName="#{messages['admin.invoice.currencyType']}"
                                                  objectList="#{invoiceListSupport}"
                                                  column="invoice.money.currencyType"/>
                        </f:facet>
                        <h:outputText value="#{invoice.money.currencyType.code}"/>
                    </rich:column>

                    <rich:column style="text-align: right">
                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{invoiceListSupport.navToView(invoice)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{invoiceListSupport}" renderId="invoiceListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{invoiceListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
