<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                xmlns:rich="http://richfaces.org/rich"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{invoiceViewSupport.instanceId}">
            <f:converter converterId="javax.faces.Long"/>
        </f:viewParam>
        <f:event type="preRenderView" listener="#{invoiceViewSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">#{messages['admin.invoice.view.title']}</ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:output label="#{messages['admin.invoice.no']}"
                                 value="#{invoiceViewSupport.instance.no}"/>
                    <orca:dateOutput label="#{messages['admin.invoice.date']}"
                                 value="#{invoiceViewSupport.instance.date}"/>
                    <orca:output label="#{messages['admin.invoice.value']}"
                                 value="#{invoiceViewSupport.instance.money.value}"/>
                    <orca:output label="#{messages['admin.invoice.currencyType']}"
                                 value="#{invoiceViewSupport.instance.money.currencyType.name}"/>
                    <ui:fragment rendered="#{invoiceViewSupport.agency}">
                        <orca:output label="#{messages['admin.invoice.agency']}"
                                     value="#{invoiceViewSupport.instance.agency.name}"/>
                    </ui:fragment>
                    <ui:fragment rendered="#{invoiceViewSupport.individual}">
                        <orca:output label="#{messages['admin.invoice.user']}"
                                     value="#{invoiceViewSupport.instance.customerUser.name}"/>
                    </ui:fragment>
                </div>
            </div>

            <div class="form-actions">
                <a:commandLink title="#{messages['global.button.back']}"
                               styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{invoiceViewSupport.navToBack()}">
                    <span class="glyphicon glyphicon-backward"/>
                    <h:outputText value=" #{messages['global.button.back']}"/>
                </a:commandLink>

                <a:commandLink title="#{messages['global.button.edit']}"
                               styleClass="btn btn-primary btn-sm"
                               action="#{invoiceViewSupport.navToEdit()}">
                    <span class="glyphicon glyphicon-pencil"/>
                    <h:outputText value=" #{messages['global.button.edit']}"/>
                </a:commandLink>
            </div>

        </h:form>
    </ui:define>

</ui:composition>