<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j" xmlns:rich="http://java.sun.com/jsf/html"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/front/front-theme.xhtml">

    <ui:param name="activeMenu" value="reservation"/>

    <f:metadata>
        <f:event listener="#{frontCartPageSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title-icon">
        <span class="glyphicon glyphicon-shopping-cart"/>
    </ui:define>

    <ui:define name="title">
        #{messages['front.cart.view']}
    </ui:define>


    <ui:define name="content">

        <rich:form>
            <a:outputPanel id="reservationListPanel" layout="block" styleClass="table-responsive">
                <rich:dataTable var="reservation" value="#{frontEndCart.reservationList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['reservation.label.route']}"/>
                        </f:facet>
                        <h:outputText value="#{messages[reservation.routeType.message]}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['admin.location.transfer.country']}"/>
                        </f:facet>
                        <h:outputText value="#{reservation.country.name}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['admin.location.transfer.city']}"/>
                        </f:facet>
                        <h:outputText value="#{reservation.city.name}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['reservation.label.to']}"/>
                        </f:facet>
                        <h:outputText value="#{reservation.to.name}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['reservation.label.flightDate']}"/>
                        </f:facet>
                        <h:outputText value="#{reservation.flightDate}" converter="dateTimeConverter"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['reservation.label.pickupDate']}"/>
                        </f:facet>
                        <h:outputText value="#{reservation.pickupDate}" converter="dateTimeConverter"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['reservation.label.price']}"/>
                        </f:facet>
                        <h:outputText value="#{reservation.price.converted}"/>
                        <f:facet name="footer">
                            <h:outputText styleClass="table-total-label" value="#{frontEndCart.total.converted}"/>
                        </f:facet>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages['reservation.label.pax']}"/>
                        </f:facet>
                        <h:outputText value="#{reservation.pax}"/>
                        <f:facet name="footer">
                            <h:outputText styleClass="table-total-label" value="#{frontEndCart.totalPax}"/>
                        </f:facet>
                    </rich:column>
                    <rich:column headerClass="table-action-header">
                        <a:commandLink title="#{messages['global.button.remove']}"
                                       action="#{frontEndCart.remove(reservation)}"
                                       render="reservationListPanel th-front-panel"
                                       styleClass="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-minus"/>
                        </a:commandLink>
                    </rich:column>
                    <rich:column headerClass="table-action-header">
                        <a:commandLink title="#{messages['global.button.edit']}"
                                       action="#{frontCartPageSupport.navToEdit(reservation)}"
                                       render="reservationListPanel th-front-panel"
                                       styleClass="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-pencil"/>
                        </a:commandLink>
                    </rich:column>
                </rich:dataTable>
                <hr/>
                <div class="-th-page-actions" style="text-align: right">
                    <a:commandLink title="#{messages['front.cart.checkout']}"
                                   action="#{frontCartPageSupport.navToCheckoutPage()}"
                                   rendered="#{not empty frontEndCart.reservationList}" styleClass="btn btn-danger">
                        <span class="glyphicon glyphicon-shopping-cart"/>
                        <h:outputText value=" #{messages['front.cart.checkout']}"/>
                    </a:commandLink>
                </div>
            </a:outputPanel>


        </rich:form>
    </ui:define>

</ui:composition>
