<h:form xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:ui="http://java.sun.com/jsf/facelets"
              xmlns:a="http://richfaces.org/a4j"
              xmlns:rich="http://richfaces.org/rich"
              xmlns:orca="http://java.sun.com/jsf/composite/orca"
              xmlns:f="http://java.sun.com/jsf/core">

    <orca:modal compId="carTypeSelectModal" size="modal-lg">
        <f:facet name="content">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.car.carType.code']}"
                                  value="#{carTypeComponent.params.code}"/>
                <orca:searchInput label="#{messages['admin.car.carType.name']}"
                                  value="#{carTypeComponent.params.name}"/>
                <orca:searchInput label="#{messages['admin.car.carType.pax']}"
                                  value="#{carTypeComponent.params.pax}"/>
                <orca:searchInput label="#{messages['admin.car.carType.trunkSize']}"
                                  value="#{carTypeComponent.params.trunkSize}"/>
                <orca:searchInput label="#{messages['admin.car.carType.brand']}"
                                  value="#{carTypeComponent.params.brand}"/>
                <orca:searchInput label="#{messages['admin.car.carType.modelYear']}"
                                  value="#{carTypeComponent.params.modelYear}"/>
                <orca:searchAction search="#{carTypeComponent.search()}" reset="#{carTypeComponent.reset()}"/>
            </div>

            <a:outputPanel id="carTypeListPanel" layout="block" styleClass="table-responsive">
                <rich:dataTable var="carType" value="#{carTypeComponent.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">#{messages['admin.car.carType.code']}</f:facet>
                        #{carType.code}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">#{messages['admin.car.carType.name']}</f:facet>
                        #{carType.name}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">#{messages['admin.car.carType.pax']}</f:facet>
                        #{carType.pax}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">#{messages['admin.car.carType.trunkSize']}</f:facet>
                        #{carType.trunkSize}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">#{messages['admin.car.carType.brand']}</f:facet>
                        #{carType.brand}
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">#{messages['admin.car.carType.modelYear']}</f:facet>
                        #{carType.modelYear}
                    </rich:column>

                    <rich:column style="text-align: right">
                        <a:commandLink styleClass="btn btn-danger btn-xs"
                                       render="transferPriceListPanel"
                                       oncomplete="$('#carTypeSelectModal').modal('hide')"
                                       action="#{transferEditSupport.addNewTransferPrice(carType)}">
                            <span class="glyphicon glyphicon-send"/>
                            <h:outputText value=" #{messages['global.button.select']}"/>
                        </a:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{carTypeComponent}" renderId="carTypeListPanel"/>
            </a:outputPanel>
        </f:facet>

        <f:facet name="footer">

        </f:facet>
    </orca:modal>
</h:form>