<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:a="http://richfaces.org/a4j"
              layout="block">

    <div id="google-map"></div>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiiPD1INb-oNMIhdPHAE-4eiTOtobj2iQ"></script>

    <h:outputScript library="js" name="transfer-map.js"/>

    <a:jsFunction name="loadGeoList" data="#{transferViewSupport.loadGeoList()}"
                  oncomplete="updateGeoList(event.data)"/>

    <a:jsFunction name="setDistanceAndTime" render="dinstanceInput, timeInput">
        <a:param name="dist" assignTo="#{transferViewSupport.distance}"/>
        <a:param name="time" assignTo="#{transferViewSupport.time}"/>
    </a:jsFunction>
</h:panelGroup>