<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:f="http://java.sun.com/jsf/core"
              xmlns:a="http://richfaces.org/a4j"
              xmlns:orca="http://java.sun.com/jsf/composite/orca"
              xmlns:rich="http://richfaces.org/rich"
              layout="block">
    <a:outputPanel id="transferPriceListPanel" layout="block">
        <rich:dataTable var="price" value="#{transferViewSupport.transferPriceList}"
                        styleClass="table table-striped table-hover table-condensed">
            <rich:column>
                <f:facet name="header">#{messages['admin.location.transfer.tab.priceList.id']}</f:facet>
                <h:outputText value="#{price.id}"/>
            </rich:column>
            <rich:column>
                <f:facet name="header">#{messages['admin.location.transfer.tab.priceList.carTypeName']}</f:facet>
                <h:outputText value="#{price.carType.name}"/>
            </rich:column>
            <rich:column>
                <f:facet name="header">#{messages['admin.location.transfer.tab.priceList.price']}</f:facet>
                <orca:moneyOutput value="#{price.money.value}" compId="moneyOutput"
                                  currency="#{price.money.currencyType.code}"/>
            </rich:column>
        </rich:dataTable>
    </a:outputPanel>

</h:panelGroup>