<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{countryListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.location.country.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.location.country.code']}"
                                  value="#{countryListSupport.params.code}"/>
                <orca:searchInput label="#{messages['admin.location.country.name']}"
                                  value="#{countryListSupport.params.name}"/>

                <orca:searchAction search="#{countryListSupport.search()}" reset="#{countryListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{countryListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="countryListPanel" layout="block" styleClass="table-responsive">
                <rich:dataTable var="country" value="#{countryListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="countryListPanel"
                                                  columnName="#{messages['admin.location.country.code']}"
                                                  objectList="#{countryListSupport}"
                                                  column="country.code.value"/>
                        </f:facet>
                        #{country.code}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{messages['admin.location.country.name']}</f:facet>
                        #{country.name.translated}
                    </rich:column>
                    <rich:column style="text-align: right">
                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{countryListSupport.navToView(country)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{countryListSupport}" renderId="countryListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{countryListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
