<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{keywordListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.i18n.keyword.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.i18n.keyword.text']}"
                                  value="#{keywordListSupport.params.text}"/>
                <orca:searchAction search="#{keywordListSupport.search()}" reset="#{keywordListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{keywordListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="keywordListPanel" layout="block">
                <rich:dataTable var="keyword" value="#{keywordListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="keywordListPanel"
                                                  columnName="#{messages['admin.i18n.keyword.text']}"
                                                  objectList="#{keywordListSupport}"
                                                  column="keyword.text"/>
                        </f:facet>
                        <h:outputText
                                value="#{keyword.text.length() > 50 ? keyword.text.substring(0,49) : keyword.text}"
                                title="#{keyword.text}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="keywordListPanel"
                                                  columnName="#{messages['admin.i18n.keyword.hash']}"
                                                  objectList="#{keywordListSupport}"
                                                  column="keyword.hash"/>
                        </f:facet>
                        #{keyword.hash}
                    </rich:column>
                    <rich:column style="text-align: right">
                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{keywordListSupport.navToView(keyword)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{keywordListSupport}" renderId="keywordListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{keywordListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
