<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:a="http://richfaces.org/a4j"
             xmlns:m="http://java.sun.com/jsf/composite/menu"
             xmlns:ui="http://java.sun.com/jsf/facelets">


    <a:outputPanel id="th-menu" layout="block">

        <m:main id="tns-admin-menu">

            <m:item label="Main" outcome="/agency/index"/>

            <!-- transfer dropdown -->

            <m:dropdown label="#{messages['menu.transfer.label']}">
                <m:group label="#{messages['menu.transfer.reservation.label']}">
                    <m:item label="#{messages['menu.transfer.reservation.list.label']}"
                            outcome="/agency/transfer/reservation/agency-reservation-list"/>
                </m:group>
            </m:dropdown>

            <!-- Settings dropdown -->

            <m:dropdown label="#{messages['menu.settings.label']}">
                <m:group label="#{messages['menu.settings.userManagement.label']}">
                    <m:item label="#{messages['menu.settings.userManagement.user.list']}"
                            outcome="/agency/auth/user/agency-user-list"/>
                </m:group>
            </m:dropdown>

        </m:main>

    </a:outputPanel>

</ui:fragment>