<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{providerEditSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:event listener="#{providerEditSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.provider.edit.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:input compId="providerCode" label="#{messages['admin.provider.code']}"
                                value="#{providerEditSupport.instance.code.value}"/>
                    <orca:input compId="providerName" label="#{messages['admin.provider.name']}"
                                value="#{providerEditSupport.instance.name}"/>
                    <orca:input compId="providerEmail" label="#{messages['admin.provider.email']}"
                                value="#{providerEditSupport.instance.email}"/>
                    <orca:input compId="providerPhone" label="#{messages['admin.provider.phone']}"
                                value="#{providerEditSupport.instance.phone}"/>
                    <orca:input compId="providerFax" label="#{messages['admin.provider.fax']}"
                                value="#{providerEditSupport.instance.fax}" required="false"/>
                </div>
                <div class="col-md-6">
                    <orca:decorateEdit compId="providerCountrySelect" label="#{messages['admin.provider.country']}">
                        <h:selectOneMenu value="#{providerEditSupport.instance.country}" converter="entityConverter"
                                         styleClass="form-control input-sm">
                            <f:selectItem itemLabel="#{messages['global.label.selectPlease']}"/>
                            <f:selectItems var="country" value="#{providerEditSupport.countryList}"
                                           itemLabel="#{country.name}" itemValue="#{country}"/>
                            <a:ajax event="change" execute="@this" render="providerCitySelect"
                                    listener="#{providerEditSupport.countryAjaxChangeListener}"/>
                        </h:selectOneMenu>
                    </orca:decorateEdit>
                    <orca:entitySelect compId="providerCitySelect" label="#{messages['admin.provider.city']}"
                                       value="#{providerEditSupport.instance.city}"
                                       items="#{providerEditSupport.cityList}" itemVar="city"
                                       itemLabel="#{city.name}"
                                       itemValue="#{city}"/>
                    <orca:inputArea compId="providerAddress" label="#{messages['admin.provider.address']}" required="true"
                                    value="#{providerEditSupport.instance.address}" rowCount="6"/>
                </div>
            </div>
            <div class="form-actions">
                <a:commandLink styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{providerEditSupport.navToBack()}">
                    <span class="glyphicon glyphicon-arrow-left"/>
                    <h:outputText value=" #{messages['global.button.cancel']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.save']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{providerEditSupport.persist()}"
                               rendered="#{!providerEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.save']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.update']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{providerEditSupport.update()}"
                               rendered="#{providerEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.update']}"/>
                </a:commandLink>
            </div>
        </h:form>


    </ui:define>


</ui:composition>