<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{providerListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.provider.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.provider.code']}"
                                  value="#{providerListSupport.params.code}"/>
                <orca:searchInput label="#{messages['admin.provider.name']}"
                                  value="#{providerListSupport.params.name}"/>
                <orca:searchInput label="#{messages['admin.provider.email']}"
                                  value="#{providerListSupport.params.email}"/>
                <orca:searchInput label="#{messages['admin.provider.phone']}"
                                  value="#{providerListSupport.params.phone}"/>
                <orca:searchInput label="#{messages['admin.provider.fax']}"
                                  value="#{providerListSupport.params.fax}"/>

                <orca:searchAction search="#{providerListSupport.search()}" reset="#{providerListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{providerListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="providerListPanel" layout="block" styleClass="table-responsive">
                <rich:dataTable var="provider" value="#{providerListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="providerListPanel"
                                                  columnName="#{messages['admin.provider.code']}"
                                                  objectList="#{providerListSupport}"
                                                  column="provider.code.value"/>
                        </f:facet>
                        #{provider.code}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="providerListPanel"
                                                  columnName="#{messages['admin.provider.name']}"
                                                  objectList="#{providerListSupport}"
                                                  column="provider.name"/>
                        </f:facet>
                        #{provider.name}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="providerListPanel"
                                                  columnName="#{messages['admin.provider.email']}"
                                                  objectList="#{providerListSupport}"
                                                  column="provider.email"/>
                        </f:facet>
                        #{provider.email}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="providerListPanel"
                                                  columnName="#{messages['admin.provider.phone']}"
                                                  objectList="#{providerListSupport}"
                                                  column="provider.phone"/>
                        </f:facet>
                        #{provider.phone}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="providerListPanel"
                                                  columnName="#{messages['admin.provider.fax']}"
                                                  objectList="#{providerListSupport}"
                                                  column="provider.fax"/>
                        </f:facet>
                        #{provider.fax}
                    </rich:column>
                    <rich:column style="text-align: right">
                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{providerListSupport.navToView(provider)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{providerListSupport}" renderId="providerListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{providerListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
