<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:f="http://java.sun.com/jsf/core"
              xmlns:a="http://richfaces.org/a4j"
              xmlns:orca="http://java.sun.com/jsf/composite/orca"
              xmlns:rich="http://richfaces.org/rich"
              layout="block">

    <div class="-th-default-actions">
        <a:commandLink styleClass="btn btn-danger btn-sm"
                       execute="@this" render="carTypeSelectModal-content"
                       oncomplete="$('#carTypeSelectModal').modal('show');"
                       action="#{transferEditSupport.beforeCarTypeSelect()}">
            <span class="glyphicon glyphicon-plus"/>
            <h:outputText value=" #{messages['admin.location.transfer.add.newCarType']}"/>
        </a:commandLink>
    </div>

    <a:outputPanel id="transferPriceListPanel" layout="block">
        <rich:dataTable var="price" value="#{transferEditSupport.transferPriceList}"
                        styleClass="table table-striped table-hover table-condensed">
            <rich:column>
                <f:facet name="header">#{messages['admin.location.transfer.tab.priceList.carTypeName']}</f:facet>
                <h:outputText value="#{price.carType.name}"/>
            </rich:column>
            <rich:column>
                <f:facet name="header">#{messages['admin.location.transfer.tab.priceList.price']}</f:facet>
                <orca:moneyInput compId="money" currency="#{price.money.currencyType.code.value}"
                                 value="#{price.money.value}"/>
            </rich:column>
            <rich:column>
                <f:facet name="header">#{messages['admin.location.transfer.tab.priceList.currencyType']}</f:facet>
                <orca:decorateSingleEdit compId="singleEntitySelectPanel">
                    <h:selectOneMenu value="#{price.money.currencyType}" id="singleEntitySelect"
                                     styleClass="form-control input-sm" converter="entityConverter">
                        <f:selectItem itemLabel="#{messages['global.label.selectPlease']}"/>
                        <f:selectItems var="currencyType" itemLabel="#{currencyType.code}"
                                       itemValue="#{currencyType}" value="#{transferEditSupport.currencyTypeList}"/>
                        <a:ajax execute="@this" render="@this, moneyValue"/>
                    </h:selectOneMenu>
                    <h:message for="singleEntitySelect" style="color: red"/>
                </orca:decorateSingleEdit>
            </rich:column>
        </rich:dataTable>
    </a:outputPanel>

</h:panelGroup>