<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{currencyValueEditSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:event listener="#{currencyValueEditSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.currency.value.edit.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:entitySelect compId="fromSelect" label="#{messages['admin.currency.value.from']}"
                                       value="#{currencyValueEditSupport.instance.from}"
                                       items="#{currencyValueEditSupport.currencyTypeList}" itemVar="currencyType"
                                       itemLabel="#{currencyType.code}"
                                       itemValue="#{currencyType}"/>

                    <orca:entitySelect compId="toSelect" label="#{messages['admin.currency.value.to']}"
                                       value="#{currencyValueEditSupport.instance.to}"
                                       items="#{currencyValueEditSupport.currencyTypeList}" itemVar="currencyType"
                                       itemLabel="#{currencyType.code}"
                                       itemValue="#{currencyType}"/>

                    <orca:input compId="valueInput" value="#{currencyValueEditSupport.instance.value}"/>
                </div>
            </div>
            <div class="form-actions">
                <a:commandLink styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{currencyValueEditSupport.navToBack()}">
                    <span class="glyphicon glyphicon-arrow-left"/>
                    <h:outputText value=" #{messages['global.button.cancel']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.save']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{currencyValueEditSupport.persist()}"
                               rendered="#{!currencyValueEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.save']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.update']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{currencyValueEditSupport.update()}"
                               rendered="#{currencyValueEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.update']}"/>
                </a:commandLink>
            </div>
        </h:form>


    </ui:define>


</ui:composition>