<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{currencyValueListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.currency.value.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">

                <orca:searchEntitySelect compId="fromSelect" label="#{messages['admin.currency.value.from']}"
                                   value="#{currencyValueListSupport.params.from}"
                                   items="#{currencyValueListSupport.currencyTypeList}" itemVar="currencyType"
                                   itemLabel="#{currencyType.code}"
                                   itemValue="#{currencyType}"/>

                <orca:searchEntitySelect compId="toSelect" label="#{messages['admin.currency.value.to']}"
                                   value="#{currencyValueListSupport.params.to}"
                                   items="#{currencyValueListSupport.currencyTypeList}" itemVar="currencyType"
                                   itemLabel="#{currencyType.code}"
                                   itemValue="#{currencyType}"/>

                <orca:searchAction search="#{currencyValueListSupport.search()}"
                                   reset="#{currencyValueListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{currencyValueListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="currencyValueListPanel" layout="block">
                <rich:dataTable var="currencyValue" value="#{currencyValueListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="currencyValueListPanel"
                                                  columnName="#{messages['admin.currency.value.from']}"
                                                  objectList="#{currencyValueListSupport}"
                                                  column="currencyValue.from.code.value"/>
                        </f:facet>
                        #{currencyValue.from.code}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="currencyValueListPanel"
                                                  columnName="#{messages['admin.currency.value.value']}"
                                                  objectList="#{currencyValueListSupport}"
                                                  column="currencyValue.to.code.value"/>
                        </f:facet>
                        #{currencyValue.to.code}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="currencyValueListPanel"
                                                  columnName="#{messages['admin.currency.value.value']}"
                                                  objectList="#{currencyValueListSupport}"
                                                  column="currencyValue.value"/>
                        </f:facet>
                        #{currencyValue.value}
                    </rich:column>
                    <rich:column style="text-align: right">
                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{currencyValueListSupport.navToView(currencyValue)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{currencyValueListSupport}" renderId="currencyValueListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{currencyValueListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
