<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="instanceId" value="#{roleEditSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:event listener="#{roleEditSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.auth.role.edit.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:input compId="roleName" label="#{messages['admin.auth.role.name']}"
                                value="#{roleEditSupport.instance.name}"/>
                    <orca:input compId="roleDescription" label="#{messages['admin.auth.role.description']}"
                                value="#{roleEditSupport.instance.description}"/>
                </div>
            </div>

            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.auth.role.edit.search.privilegeName']}"
                                  value="#{roleEditSupport.name}"/>
                <orca:searchInput label="#{messages['admin.auth.role.edit.search.privilegeExcludeName']}"
                                  value="#{roleEditSupport.excludeName}"/>
                <orca:searchEntitySelect itemVar="role" itemValue="#{role}"
                                   value="#{roleEditSupport.role}"
                                   items="#{roleEditSupport.roleList}"
                                   label="#{messages['admin.auth.role.edit.search.role']}"
                                   itemLabel="#{role.name}" compId="roleSelect"/>
                <!-- select role -->
                <orca:searchAction search="#{roleEditSupport.search()}" reset="#{roleEditSupport.reset()}"/>
            </div>

            <a:outputPanel layout="block" id="rolePrivilegeListPanel" styleClass="-th-default-tableList">
                <rich:dataTable id="privilegeSelectTable" var="privilege"
                                value="#{roleEditSupport.privilegeList}"
                                styleClass="table table-striped table-responsive table-hover table-condensed">

                    <rich:column style="width:75px;">
                        <f:facet name="header">
                            <h:selectBooleanCheckbox id="itemSelection" value="#{roleEditSupport.selectAll}">
                                <a:ajax event="change" execute="@this" render="privilegeSelectTable"/>
                            </h:selectBooleanCheckbox>
                            <ui:define name="message">
                                <rich:message for="name"/>
                            </ui:define>
                        </f:facet>
                        <h:selectBooleanCheckbox value="#{privilege.selected}">
                            <f:ajax execute="@this" listener="#{roleEditSupport.valueChangeListener()}"
                                    render="itemSelection"/>
                        </h:selectBooleanCheckbox>
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">#{messages['admin.auth.role.edit.search.privilegeName']}</f:facet>
                        <h:outputText value="#{privilege.instance.name}"/>
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">#{messages['admin.auth.role.edit.search.privilegeDescription']}</f:facet>
                        <h:outputText value="#{privilege.instance.description}"/>
                    </rich:column>

                </rich:dataTable>
            </a:outputPanel>


            <div class="form-actions">
                <a:commandLink styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{roleEditSupport.navToBack()}">
                    <span class="glyphicon glyphicon-arrow-left"/>
                    <h:outputText value=" #{messages['global.button.cancel']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.save']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{roleEditSupport.persist()}"
                               rendered="#{!roleEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.save']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.update']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{roleEditSupport.update()}"
                               rendered="#{roleEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.update']}"/>
                </a:commandLink>
            </div>
        </h:form>
    </ui:define>
</ui:composition>