<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{roleListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.auth.role.list.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.auth.role.name']}"
                                  value="#{roleListSupport.roleParameter.name}"/>
                <orca:searchInput label="#{messages['admin.auth.role.description']}"
                                  value="#{roleListSupport.roleParameter.description}"/>
                <orca:searchAction search="#{roleListSupport.search()}" reset="#{roleListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{roleListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="roleListPanel" layout="block" styleClass="table-responsive">
                <rich:dataTable var="role" value="#{roleListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="roleListPanel"
                                                  columnName="#{messages['admin.auth.role.name']}"
                                                  objectList="#{roleListSupport}"
                                                  column="role.name"/>
                        </f:facet>
                        <h:outputText value="#{role.name}"/>
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="roleListPanel"
                                                  columnName="#{messages['admin.auth.role.description']}"
                                                  objectList="#{roleListSupport}"
                                                  column="role.description"/>
                        </f:facet>
                        <h:outputText value="#{role.description}"/>
                    </rich:column>

                    <rich:column style="text-align: right">
                        <f:facet name="header">
                            <div style="text-align: right">#{messages['global.label.action']}</div>
                        </f:facet>

                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{roleListSupport.navToView(role)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>

                <orca:pagination objectList="#{roleListSupport}" renderId="roleListPanel"/>

            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{roleListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
