<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:f="http://java.sun.com/jsf/core"
              xmlns:a="http://richfaces.org/a4j"
              xmlns:rich="http://richfaces.org/rich"
              layout="block">

    <a:outputPanel id="agencyBalanceListPanel" layout="block">
        <rich:dataTable var="balance" value="#{agencyViewSupport.balanceList}"
                        styleClass="table table-striped table-hover table-condensed">
            <rich:column>
                <f:facet name="header">#{messages['admin.agency.agency.tab.balanceList.value']}</f:facet>
                <h:outputText value="#{balance.money.value}"/>
            </rich:column>
            <rich:column>
                <f:facet name="header">#{messages['admin.agency.agency.tab.balanceList.currencyType']}</f:facet>
                <h:outputText value="#{balance.money.currencyType.code}"/>
            </rich:column>
        </rich:dataTable>
    </a:outputPanel>

</h:panelGroup>