<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j" xmlns:rich="http://java.sun.com/jsf/html"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/front/front-theme.xhtml">

    <ui:param name="activeMenu" value="reservation"/>

    <f:metadata>
        <f:event listener="#{frontCheckoutPageSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title-icon">
        <span class="glyphicon glyphicon-transfer"/>
    </ui:define>

    <ui:define name="title">
        #{messages['front.checkout.view']}
    </ui:define>


    <ui:define name="content">


    </ui:define>

</ui:composition>
