<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/front/front-theme.xhtml">

    <f:metadata>
        <f:event listener="#{frontRegisterEditSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        Login or Register
    </ui:define>

    <ui:define name="content">
        <div>

            <div class="row">
                <div class="col-md-5">
                    <h:form id="loginForm" prependId="false" styleClass="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <orca:panel compId="loginPanel" title="Login" styleClass="panel-default">
                                    <orca:decorateEdit compId="loginUsername"
                                                       label="#{messages['front.register.email']}">
                                        <input type="text" id="username" name="username" class="form-control input-sm"
                                               placeholder="E-Mail"/>
                                    </orca:decorateEdit>
                                    <orca:decorateEdit compId="loginButton"
                                                       label="#{messages['front.register.password']}">
                                        <input type="password" id="password" name="password"
                                               class="form-control input-sm"
                                               placeholder="Password"/>
                                    </orca:decorateEdit>
                                    <orca:decorateEdit compId="loginButton" required="false">
                                        <button id="login" name="login" type="submit"
                                                class="btn btn-sm btn-primary">#{messages['front.register.login']}
                                        </button>
                                    </orca:decorateEdit>
                                </orca:panel>

                            </div>
                        </div>
                    </h:form>
                </div>
                <div class="col-md-7">
                    <orca:panel compId="loginPanel" title="Register" styleClass="panel-danger">

                    </orca:panel>
                </div>
            </div>

        </div>

    </ui:define>

</ui:composition>
