<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{cityEditSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:event listener="#{cityEditSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.location.city.edit.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:input compId="cityCode" label="#{messages['admin.location.city.code']}"
                                value="#{cityEditSupport.instance.code.value}"/>

                    <orca:entitySelect compId="country" label="#{messages['admin.location.city.country']}"
                                       value="#{cityEditSupport.instance.country}"
                                       items="#{cityEditSupport.countryList}" itemVar="country"
                                       itemLabel="#{country.name}"
                                       itemValue="#{country}"/>

                    <orca:input compId="cityName" label="#{messages['admin.location.city.name']}"
                                value="#{cityEditSupport.instance.name}"/>
                </div>
            </div>
            <div class="form-actions">
                <a:commandLink styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{cityEditSupport.navToBack()}">
                    <span class="glyphicon glyphicon-arrow-left"/>
                    <h:outputText value=" #{messages['global.button.cancel']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.save']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{cityEditSupport.persist()}"
                               rendered="#{!cityEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.save']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.update']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{cityEditSupport.update()}"
                               rendered="#{cityEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.update']}"/>
                </a:commandLink>
            </div>
        </h:form>


    </ui:define>


</ui:composition>