<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{cityListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.location.city.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.location.city.code']}"
                                  value="#{cityListSupport.params.code}"/>
                <orca:searchInput label="#{messages['admin.location.city.name']}"
                                  value="#{cityListSupport.params.name}"/>
                <orca:searchAction search="#{cityListSupport.search()}" reset="#{cityListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{cityListSupport.navToCreate()}">
                <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="cityListPanel" layout="block">
                <rich:dataTable var="city" value="#{cityListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="cityListPanel"
                                                  columnName="#{messages['admin.location.city.code']}"
                                                  objectList="#{cityListSupport}"
                                                  column="city.code.value"/>
                        </f:facet>
                        #{city.code}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="cityListPanel"
                                                  columnName="#{messages['admin.location.city.name']}"
                                                  objectList="#{cityListSupport}"
                                                  column="city.name"/>
                        </f:facet>
                        #{city.name}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="cityListPanel"
                                                  columnName="#{messages['admin.location.city.country']}"
                                                  objectList="#{cityListSupport}"
                                                  column="city.country.name"/>
                        </f:facet>
                        #{city.country.name}
                    </rich:column>
                    <rich:column style="text-align: right">
                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{cityListSupport.navToView(city)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{cityListSupport}" renderId="cityListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{cityListSupport.navToCreate()}">
                <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
