<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{currencyTypeListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.currency.type.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.currency.type.code']}"
                                  value="#{currencyTypeListSupport.params.code}"/>
                <orca:searchInput label="#{messages['admin.currency.type.name']}"
                                  value="#{currencyTypeListSupport.params.name}"/>
                <orca:searchAction search="#{currencyTypeListSupport.search()}"
                                   reset="#{currencyTypeListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{currencyTypeListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="currencyTypeListPanel" layout="block">
                <rich:dataTable var="currencyType" value="#{currencyTypeListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="currencyTypeListPanel"
                                                  columnName="#{messages['admin.currency.type.code']}"
                                                  objectList="#{currencyTypeListSupport}"
                                                  column="currencyType.code.value"/>
                        </f:facet>
                        #{currencyType.code}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="currencyTypeListPanel"
                                                  columnName="#{messages['admin.currency.type.name']}"
                                                  objectList="#{currencyTypeListSupport}"
                                                  column="currencyType.name"/>
                        </f:facet>
                        #{currencyType.name}
                    </rich:column>

                    <rich:column style="text-align: right">
                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{currencyTypeListSupport.navToView(currencyType)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{currencyTypeListSupport}" renderId="currencyTypeListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{currencyTypeListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
