<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{currencyTypeEditSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:event listener="#{currencyTypeEditSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.currency.type.edit.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:input compId="currencyTypeCode" label="#{messages['admin.currency.type.code']}"
                                value="#{currencyTypeEditSupport.instance.code.value}"/>
                    <orca:input compId="currencyTypeName" label="#{messages['admin.currency.type.name']}"
                                value="#{currencyTypeEditSupport.instance.name}"/>
                </div>
            </div>
            <div class="form-actions">
                <a:commandLink styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{currencyTypeEditSupport.navToBack()}">
                    <span class="glyphicon glyphicon-arrow-left"/>
                    <h:outputText value=" #{messages['global.button.cancel']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.save']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{currencyTypeEditSupport.persist()}"
                               rendered="#{!currencyTypeEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.save']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.update']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{currencyTypeEditSupport.update()}"
                               rendered="#{currencyTypeEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.update']}"/>
                </a:commandLink>
            </div>
        </h:form>


    </ui:define>


</ui:composition>