<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/agency/agency-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{agencyUserListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['agency.auth.user.list.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['agency.auth.user.name']}"
                                  value="#{agencyUserListSupport.agencyUserParameter.name}"/>
                <orca:searchInput label="#{messages['agency.auth.user.surname']}"
                                  value="#{agencyUserListSupport.agencyUserParameter.surname}"/>
                <orca:searchInput label="#{messages['agency.auth.user.email']}"
                                  value="#{agencyUserListSupport.agencyUserParameter.email}"/>
                <orca:searchInput label="#{messages['agency.auth.user.description']}"
                                  value="#{agencyUserListSupport.agencyUserParameter.description}"/>
                <orca:searchInput label="#{messages['agency.auth.user.roleName']}"
                                  value="#{agencyUserListSupport.agencyUserParameter.roleName}"/>
                <orca:searchAction search="#{agencyUserListSupport.search()}" reset="#{agencyUserListSupport.search()}"/>
            </div>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{agencyUserListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="userListPanel" layout="block" styleClass="table-responsive">
                <rich:dataTable var="user" value="#{agencyUserListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="userListPanel"
                                                  columnName="#"
                                                  objectList="#{agencyUserListSupport}"
                                                  column="user.id"/>
                        </f:facet>
                        <h:outputText value="#{user.id}"/>
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="userListPanel"
                                                  columnName="#{messages['agency.auth.user.name']}"
                                                  objectList="#{agencyUserListSupport}"
                                                  column="user.name"/>
                        </f:facet>
                        <h:outputText value="#{user.name}"/>
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="userListPanel"
                                                  columnName="#{messages['agency.auth.user.surname']}"
                                                  objectList="#{agencyUserListSupport}"
                                                  column="user.surname"/>
                        </f:facet>
                        <h:outputText value="#{user.surname}"/>
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="userListPanel"
                                                  columnName="#{messages['agency.auth.user.email']}"
                                                  objectList="#{agencyUserListSupport}"
                                                  column="user.email"/>
                        </f:facet>
                        <h:outputText value="#{user.email}"/>
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="userListPanel"
                                                  columnName="#{messages['agency.auth.user.description']}"
                                                  objectList="#{agencyUserListSupport}"
                                                  column="user.description"/>
                        </f:facet>
                        <h:outputText value="#{user.description}"/>
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="userListPanel"
                                                  columnName="#{messages['agency.auth.user.roleName']}"
                                                  objectList="#{agencyUserListSupport}"
                                                  column="user.role.name"/>
                        </f:facet>
                        <h:outputText value="#{user.role.name}"/>
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="userListPanel"
                                                  columnName="#{messages['agency.auth.user.gender']}"
                                                  objectList="#{agencyUserListSupport}"
                                                  column="user.gender"/>
                        </f:facet>
                        <h:outputText value="#{messages[user.gender.message]}"/>
                    </rich:column>

                    <rich:column style="text-align: right">
                        <f:facet name="header">
                            <div style="text-align: right">#{messages['global.label.action']}</div>
                        </f:facet>

                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{agencyUserListSupport.navToView(user)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>

                <orca:pagination objectList="#{agencyUserListSupport}" renderId="userListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{agencyUserListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
