<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/agency/agency-theme.xhtml">

    <f:metadata>
        <f:viewParam name="instanceId" value="#{agencyUserViewSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>

        <f:event listener="#{agencyUserViewSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['agency.auth.user.edit.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <h:panelGroup layout="block">

                        <orca:output compId="userId" label="#{messages['agency.auth.user.id']}"
                                     value="#{agencyUserViewSupport.instance.id}"/>

                        <orca:output compId="userName" label="#{messages['agency.auth.user.name']}"
                                     value="#{agencyUserViewSupport.instance.name}"/>

                        <orca:output compId="userSurname" label="#{messages['agency.auth.user.surname']}"
                                     value="#{agencyUserViewSupport.instance.surname}"/>

                        <orca:output compId="userEmail" label="#{messages['agency.auth.user.email']}"
                                     value="#{agencyUserViewSupport.instance.email}"/>
                    </h:panelGroup>
                </div>

                <div class="col-md-6">
                    <h:panelGroup layout="block">

                        <orca:output compId="userGender"
                                     label="#{messages['agency.auth.user.gender']}"
                                     value="#{agencyUserViewSupport.instance.gender}"/>

                        <orca:output compId="description"
                                     label="#{messages['agency.auth.user.description']}"
                                     value="#{agencyUserViewSupport.instance.description}"/>

                    </h:panelGroup>
                </div>
            </div>

            <div class="form-actions">
                <a:commandLink title="#{messages['global.button.back']}"
                               styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{agencyUserViewSupport.navToBack()}">
                    <span class="glyphicon glyphicon-backward"/>
                    <h:outputText value=" #{messages['global.button.back']}"/>
                </a:commandLink>

                <a:commandLink title="#{messages['global.button.edit']}"
                               styleClass="btn btn-primary btn-sm"
                               action="#{agencyUserViewSupport.navToEdit()}">
                    <span class="glyphicon glyphicon-upload"/>
                    <h:outputText value=" #{messages['global.button.edit']}"/>
                </a:commandLink>
            </div>
        </h:form>
    </ui:define>
</ui:composition>