<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/agency/agency-theme.xhtml">

    <f:metadata>
        <f:viewParam name="instanceId" value="#{agencyUserEditSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>

        <f:event listener="#{agencyUserEditSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['agency.auth.user.edit.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <h:panelGroup layout="block">

                        <orca:input compId="userId" label="#{messages['agency.auth.user.id']}"
                                    value="#{agencyUserEditSupport.instance.id}" disable="true"
                                    rendered="#{agencyUserEditSupport.managed}"/>

                        <orca:input compId="userName" label="#{messages['agency.auth.user.name']}"
                                    value="#{agencyUserEditSupport.instance.name}"/>

                        <orca:input compId="userSurname" label="#{messages['agency.auth.user.surname']}"
                                    value="#{agencyUserEditSupport.instance.surname}"/>

                        <orca:input compId="userEmail" label="#{messages['agency.auth.user.email']}"
                                    value="#{agencyUserEditSupport.instance.email}"/>

                        <orca:passwordInput compId="userPassword" label="#{messages['agency.auth.user.password']}"
                                    value="#{agencyUserEditSupport.newPassword}" required="#{!agencyUserEditSupport.managed}"/>
                    </h:panelGroup>
                </div>

                <div class="col-md-6">
                    <h:panelGroup layout="block">

                        <orca:decorateEdit compId="userGender"
                                           label="#{messages['agency.auth.user.gender']}">
                            <h:selectOneMenu id="userGenderSelect"
                                             value="#{agencyUserEditSupport.instance.gender}"
                                             label="#{messages['agency.auth.user.gender']}"
                                             styleClass="form-control input-sm">
                                <f:selectItem itemLabel="#{messages['global.label.selectPlease']}"/>
                                <f:selectItems var="gender"
                                               value="#{agencyUserEditSupport.genders}"
                                               itemValue="#{gender}"
                                               itemLabel="#{messages[gender.message]}"/>
                            </h:selectOneMenu>
                            <h:message for="userGenderSelect" style="color: red"/>
                        </orca:decorateEdit>

                        <orca:decorateEdit compId="description" required="false"
                                           label="#{messages['agency.auth.user.description']}">
                            <h:inputTextarea id="userDescription" required="false"
                                             styleClass="form-control input-sm" rows="4"
                                             value="#{agencyUserEditSupport.instance.description}"/>
                            <h:message for="userDescription" style="color: red"/>
                        </orca:decorateEdit>

                    </h:panelGroup>
                </div>
            </div>

            <div class="form-actions">
                <a:commandLink styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{agencyUserEditSupport.navToBack()}">
                    <span class="glyphicon glyphicon-arrow-left"/>
                    <h:outputText value=" #{messages['global.button.cancel']}"/>
                    <f:param name="navId" value="#{agencyUserEditSupport.navId}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.save']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{agencyUserEditSupport.persist()}"
                               rendered="#{!agencyUserEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.save']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.update']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{agencyUserEditSupport.update()}"
                               rendered="#{agencyUserEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.update']}"/>
                </a:commandLink>
            </div>
        </h:form>
    </ui:define>
</ui:composition>