<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{discountGroupListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.agency.discountGroup.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.agency.discountGroup.code']}"
                                  value="#{discountGroupListSupport.params.code}"/>
                <orca:searchInput label="#{messages['admin.agency.discountGroup.name']}"
                                  value="#{discountGroupListSupport.params.name}"/>
                <orca:searchInput label="#{messages['admin.agency.discountGroup.discountRate']}"
                                  value="#{discountGroupListSupport.params.discountRate}"/>

                <orca:searchAction search="#{discountGroupListSupport.search()}" reset="#{discountGroupListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{discountGroupListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="discountGroupListPanel" layout="block">
                <rich:dataTable var="discountGroup" value="#{discountGroupListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="discountGroupListPanel"
                                                  columnName="#{messages['admin.agency.discountGroup.code']}"
                                                  objectList="#{discountGroupListSupport}"
                                                  column="discountGroup.code.value"/>
                        </f:facet>
                        <h:outputText value="#{discountGroup.code.value}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="discountGroupListPanel"
                                                  columnName="#{messages['admin.agency.discountGroup.name']}"
                                                  objectList="#{discountGroupListSupport}"
                                                  column="discountGroup.name"/>
                        </f:facet>
                        <h:outputText value="#{discountGroup.name}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="discountGroupListPanel"
                                                  columnName="#{messages['admin.agency.discountGroup.discountRate']}"
                                                  objectList="#{discountGroupListSupport}"
                                                  column="discountGroup.name"/>
                        </f:facet>
                        <h:outputText value="#{discountGroup.discountRate}"/>
                    </rich:column>

                    <rich:column style="text-align: right">
                        <h:commandLink styleClass="btn btn-default btn-xs"
                                       action="#{discountGroupListSupport.navToView(discountGroup)}">
                            <span class="glyphicon glyphicon-eye-open"/>
                            <h:outputText value=" #{messages['global.button.view']}"/>
                        </h:commandLink>
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{discountGroupListSupport}" renderId="discountGroupListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{discountGroupListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
