<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{discountGroupEditSupport.instanceId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:event listener="#{discountGroupEditSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.agency.discountGroup.edit.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:input compId="discountGroupCode" label="#{messages['admin.agency.discountGroup.code']}"
                                value="#{discountGroupEditSupport.instance.code.value}" required="true"/>
                    <orca:input compId="discountGroupName" label="#{messages['admin.agency.discountGroup.name']}"
                                value="#{discountGroupEditSupport.instance.name}" required="true"/>
                    <orca:input compId="discountGroupRate"
                                label="#{messages['admin.agency.discountGroup.discountRate']}"
                                value="#{discountGroupEditSupport.instance.discountRate}" required="true"/>
                    <orca:inputArea compId="discountGroupDescription"
                                    label="#{messages['admin.agency.discountGroup.description']}"
                                    value="#{discountGroupEditSupport.instance.description}"/>
                </div>
            </div>

            <div class="form-actions">
                <a:commandLink styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{discountGroupEditSupport.navToBack()}">
                    <span class="glyphicon glyphicon-arrow-left"/>
                    <h:outputText value=" #{messages['global.button.cancel']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.save']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{discountGroupEditSupport.persist()}"
                               rendered="#{!discountGroupEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.save']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.update']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{discountGroupEditSupport.update()}"
                               rendered="#{discountGroupEditSupport.managed}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.update']}"/>
                </a:commandLink>
            </div>
        </h:form>
    </ui:define>
</ui:composition>