<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{discountGroupViewSupport.instanceId}">
            <f:converter converterId="javax.faces.Long"/>
        </f:viewParam>
        <f:event type="preRenderView" listener="#{discountGroupViewSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">#{messages['admin.agency.discountGroup.view.title']}</ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:output compId="discountGroupCode" label="#{messages['admin.agency.discountGroup.code']}"
                                 value="#{discountGroupViewSupport.instance.code.value}"/>
                    <orca:output compId="discountGroupName" label="#{messages['admin.agency.discountGroup.name']}"
                                 value="#{discountGroupViewSupport.instance.name}"/>
                    <orca:output compId="discountGroupRate"
                                 label="#{messages['admin.agency.discountGroup.discountRate']}"
                                 value="#{discountGroupViewSupport.instance.discountRate}"/>
                    <orca:output compId="discountGroupDescription"
                                 label="#{messages['admin.agency.discountGroup.description']}"
                                 value="#{discountGroupViewSupport.instance.description}"/>
                </div>
            </div>

            <div class="form-actions">
                <a:commandLink title="#{messages['global.button.back']}"
                               styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{discountGroupViewSupport.navToBack()}">
                    <span class="glyphicon glyphicon-backward"/>
                    <h:outputText value=" #{messages['global.button.back']}"/>
                </a:commandLink>

                <a:commandLink title="#{messages['global.button.edit']}"
                               styleClass="btn btn-primary btn-sm"
                               action="#{discountGroupViewSupport.navToEdit()}">
                    <span class="glyphicon glyphicon-pencil"/>
                    <h:outputText value=" #{messages['global.button.edit']}"/>
                </a:commandLink>
            </div>
        </h:form>
    </ui:define>
</ui:composition>