<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/admin/admin-theme.xhtml">

    <ui:define name="title">
        Access Denied!
    </ui:define>
    <ui:define name="content">
        Access Denied!
    </ui:define>

</ui:composition>
