<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:viewParam name="agencyId" value="#{balanceEditSupport.agencyId}">
            <f:converter converterId="javax.faces.Integer"/>
        </f:viewParam>
        <f:event listener="#{balanceEditSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.balance.edit.title']}
    </ui:define>

    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <orca:input compId="agencyCode" label="#{messages['admin.balance.edit.agencyCode']}"
                                value="#{balanceEditSupport.instance.agency.code}" disable="true" required="false"/>
                    <orca:input compId="balance" label="#{messages['admin.balance.edit.value']}"
                                value="#{balanceEditSupport.instance.money.value}"/>
                    <orca:entitySelect compId="currencyTypeSelect"
                                       label="#{messages['admin.balance.edit.currencyType']}"
                                       value="#{balanceEditSupport.instance.money.currencyType}"
                                       items="#{balanceEditSupport.currencyTypeList}" itemVar="currencyType"
                                       itemLabel="#{currencyType.code}"
                                       itemValue="#{currencyType}"/>
                </div>
            </div>

            <div class="form-actions">
                <a:commandLink styleClass="btn btn-default btn-sm" immediate="true"
                               action="#{balanceEditSupport.navToBack()}">
                    <span class="glyphicon glyphicon-arrow-left"/>
                    <h:outputText value=" #{messages['global.button.cancel']}"/>
                </a:commandLink>
                <a:commandLink title="#{messages['global.button.save']}" execute="@form" render="@form"
                               styleClass="btn btn-primary btn-sm" action="#{balanceEditSupport.persist()}">
                    <span class="glyphicon glyphicon-floppy-save"/>
                    <h:outputText value=" #{messages['global.button.save']}"/>
                </a:commandLink>
            </div>

        </h:form>

    </ui:define>
</ui:composition>