<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:orca="http://java.sun.com/jsf/composite/orca" xmlns:h="http://java.sun.com/jsf/html"
                template="/front/front-theme.xhtml">

    <ui:param name="activeMenu" value="main"/>

    <f:metadata>
        <f:event listener="#{frontMainPageSupport.init()}" type="preRenderView"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['front.menu.main']}
    </ui:define>

    <ui:define name="content">


    </ui:define>

</ui:composition>
