<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
        >


<h:head>
    <title>Login</title>
</h:head>
<h:body>

    <h:outputStylesheet library="bootstrap/css" name="bootstrap.css"/>
    <h:outputStylesheet library="bootstrap/css" name="pastel-stream.css"/>

    <h:form id="loginForm" prependId="false" styleClass="form-horizontal">
        <div class="container">
            <div style="padding: 10px; margin-top: 100px">
                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control input-sm" style="text-align: center"
                           placeholder="Username"/>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control input-sm" style="text-align: center"
                           placeholder="Password"/>
                </div>
                <div class="form-group">
                    <button id="login" name="login" type="submit" class="btn btn-sm btn-primary form-control">Login</button>
                </div>
            </div>
        </div>
    </h:form>
</h:body>
</html>