<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:orca="http://java.sun.com/jsf/composite/orca"
                template="/admin/admin-theme.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{privilegeListSupport.init()}"/>
    </f:metadata>

    <ui:define name="title">
        #{messages['admin.auth.privilege.list.title']}
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form-horizontal">
            <div class="row -th-default-search">
                <orca:searchInput label="#{messages['admin.auth.privilege.name']}"
                                  value="#{privilegeListSupport.privilegeParameter.name}"/>
                <orca:searchAction search="#{privilegeListSupport.search()}" reset="#{privilegeListSupport.reset()}"/>
            </div>
            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{privilegeListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>

            <a:outputPanel id="privilegeListPanel" layout="block" styleClass="table-responsive">
                <rich:dataTable var="privilege" value="#{privilegeListSupport.resultList}"
                                styleClass="table table-striped table-hover table-condensed">
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="privilegeListPanel"
                                                  columnName="#{messages['admin.auth.privilege.name']}"
                                                  objectList="#{privilegeListSupport}"
                                                  column="privilege.name"/>
                        </f:facet>
                        #{privilege.name}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <orca:tableColumnSort renderId="privilegeListPanel"
                                                  columnName="#{messages['admin.auth.privilege.description']}"
                                                  objectList="#{privilegeListSupport}"
                                                  column="privilege.description"/>
                        </f:facet>
                        #{privilege.description}
                    </rich:column>
                </rich:dataTable>
                <orca:pagination objectList="#{privilegeListSupport}" renderId="privilegeListPanel"/>
            </a:outputPanel>

            <div class="-th-default-actions">
                <h:commandLink styleClass="btn btn-danger btn-sm"
                               action="#{privilegeListSupport.navToCreate()}">
                    <span class="glyphicon glyphicon-plus"/>
                    <h:outputText value=" #{messages['global.button.add']}"/>
                </h:commandLink>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
